<div class="col-lg-2"></div>
<div class="col-lg-8">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse" aria-expanded="false" aria-controls="collapse" class="collapsed">
                        <i class="more-less glyphicon glyphicon-chevron-down" style="top:15px;"></i>    
                        <button class="btn btn-info" data-toggle="collapse" data-parent="#accordion" href="#collapse" aria-expanded="false" aria-controls="collapse" class="collapsed">
                            Cadastrar Codificador
                        </button>
                    </a>
                </h4>
            </div>
            <div id="collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading" style="height: 0px;">
                <div class="hero">
                    <div class="panel-body">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8 well">
                            <form method="post" id="codificadorNew" enctype="multipart/form-data">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label>Nome</label>
                                        <input type="text" class="form-control" id="nome" autocomplete="off">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Login</label>
                                        <input type="text" class="form-control" id="login" autocomplete="off">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Senha</label>
                                        <input type="password" class="form-control" id="senha" autocomplete="off">
                                    </div>
                                    <hr><br>
                                    <button type="submit" class="btn btn-success btn-block cadastrar-usuario">
                                        Confirmar
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">Codificadores</h4>
        </div>
        <div class="hero">
            <table class="table">
                <thead>
                    <tr>
                        <th>Login</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <? foreach ($this->listaDosUsuarios as $usuario): ?>
                        <tr>
                            <td><?= $usuario['login'] ?></td>
                            <td>         
                                <button href="<?= '#myModalEditar' . $usuario['idusuario'] ?>" title="Visualizar" class="btn btn-primary" data-toggle="modal">
                                    <span>
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </span>
                                </button>
                                <a onclick="excluirUsuario(<?= $usuario['idusuario'] ?>)" title="Deletar" class="btn btn-danger" style="cursor: pointer;">
                                    <span>
                                        <i class="fas fa-trash"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    <? endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-lg-2"></div>

<!-- Modal Usuários -->
<? foreach ($this->listaDosUsuarios as $us): ?>
    <div class="modal fade" id="<?= 'myModalEditar' . $us['idusuario'] ?>" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Visualizar Usuário</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="usuario">
                                Usuário
                            </label>
                            <input id="login<?= $us['idusuario'] ?>" type="text" class="form-control" value="<?= $us['login'] ?>" autocomplete="off">         
                            <p>Área destinada para atualização do codificador desejado!</p>
                        </div>
                        <button type="button" onclick="editarUsuario(<?= $us['idusuario'] ?>)" class="btn btn-block btn-primary">
                            Atualizar
                        </button>
                    </form>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                    <button type="button" class="btn" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
<? endforeach; ?>