<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <h3>Redefinir Senha</h3>
            <hr>
            <form method="post" id="redefinir-senha">
                <div class="form-group">
                    <input type="hidden" name="idusuario" class="form-control form-control-sm" value="<?= $this->idusuario; ?>">
                    <label>Nova Senha</label>
                    <input type="password" name="senha" class="form-control form-control-sm">
                </div>
                <div class="form-group">
                    <label>Repita a Nova Senha</label>
                    <input type="password" name="repita-nova-senha" class="form-control form-control-sm">
                </div>
                <button type="submit" class="btn btn-primary">Confirmar</button>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>