<div class="col-lg-2"></div>
<div class="col-lg-8">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse" aria-expanded="false" aria-controls="collapse" class="collapsed">
                        <i class="more-less glyphicon glyphicon-chevron-down" style="top:15px;"></i>    
                        <button class="btn btn-info" data-toggle="collapse" data-parent="#accordion" href="#collapse" aria-expanded="false" aria-controls="collapse" class="collapsed">
                            Cadastrar Grupo de Códigos
                        </button>
                    </a>
                </h4>
            </div>
            <div id="collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading" style="height: 0px;">
                <div class="hero">
                    <div class="panel-body">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8 well">
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="descricao">Descrição do Grupo de Código</label>
                                        <input type="text" class="form-control" id="descricao" autocomplete="off">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="projeto">Projeto</label>
                                        <select id="projeto" class="form-control" onchange="getOption(this)">
                                            <option>Escolha um Projeto...</option>
                                            <? foreach ($this->listaDosProjetos as $projeto): ?>
                                                <option value="<?= $projeto['idprojeto'] ?>"><?= $projeto['descricao'] ?></option>
                                            <? endforeach; ?>
                                        </select>
                                    </div>
                                    <hr><br>
                                    <button type="button" class="btn btn-success btn-block cadastrar-grupocodigo">
                                        Confirmar
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">Grupos de Projetos</h4>
        </div>
        <div class="hero">
            <table class="table">
                <thead>
                    <tr>
                        <th>Grupo de Códigos</th>
                        <th>Projeto</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <? foreach ($this->listaDosGruposCodigos as $grupocodigo): ?>
                        <tr>
                            <td><?= $grupocodigo['descricao'] ?></td>
                            <td><?= $grupocodigo['projeto'] ?></td>
                            <td>         
                                <button href="<?= '#myModalEditar' . $grupocodigo['idgrupocodigo'] ?>" title="Visualizar" class="btn btn-primary" data-toggle="modal">
                                    <span>
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </span>
                                </button>
                            </td>
                        </tr>
                    <? endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-lg-2"></div>

<!-- Modal Usuários -->
<? foreach ($this->listaDosGruposCodigos as $grupo): ?>
    <div class="modal fade" id="<?= 'myModalEditar' . $grupo['idgrupocodigo'] ?>" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Visualizar Grupo</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="grupo">
                                Grupo
                            </label>
                            <input id="login<?= $grupo['idgrupocodigo'] ?>" type="text" class="form-control" value="<?= $grupo['descricao'] ?>" autocomplete="off">         
                            <p>Área destinada para atualização do grupo desejado!</p>
                        </div>
                        <button type="button" onclick="editarGrupo(<?= $grupo['idgrupocodigo'] ?>)" class="btn btn-block btn-primary">
                            Atualizar
                        </button>
                    </form>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                    <button type="button" class="btn" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
<? endforeach; ?>