<div class="col-md-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<?= $this->baseUrl('admin-codificador') ?>">Início</a></li>
            <li class="breadcrumb-item"><a href="<?= $this->baseUrl('trecho/codificador/id/') ?><?= $this->arquivo[0]['idprojeto'] ?>"><?= $this->arquivo[0]['projeto'] ?></a></li>
            <li class="breadcrumb-item active" aria-current="page"><?= $this->arquivo[0]['titulo'] ?></li>
        </ol>
    </nav>
    <a class="btn btn-sm btn-primary" href="<?= $this->baseUrl('trecho/codificador/id/') ?><?= $this->arquivo[0]['idprojeto'] ?>" style="margin-bottom: 5px">Voltar</a>
</div>

<div class="col-md-6">
    <?php if(substr($this->arquivo[0]['descricao'], -3) == 'pdf'){ ?>
        <iframe src="<?= $this->baseUrl('') ?><?= $this->arquivo[0]['descricao'] ?>" height="600px" width="100%"></iframe>
    <?php } else { ?>
        <iframe src="https://view.officeapps.live.com/op/embed.aspx?src=opencodingtool.com.br/public<?= $this->arquivo[0]['descricao'] ?>" height="600px" width="100%"></iframe>
    <?php } ?>
</div>

<div class="col-lg-6">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse" aria-expanded="false" aria-controls="collapse" class="collapsed">
                        <i class="more-less glyphicon glyphicon-chevron-down" style="top:15px;"></i>    
                        <button class="btn btn-info" data-toggle="collapse" data-parent="#accordion" href="#collapse" aria-expanded="false" aria-controls="collapse" class="collapsed">
                            Cadastrar Código
                        </button>
                    </a>
                </h4>
            </div>
            <div id="collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading" style="height: 0px;">
                <div class="hero">
                    <div class="panel-body">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8 well">
                            <form method="post" id="codigoNew" enctype="multipart/form-data">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label>Código</label>
                                        <input type="hidden" class="form-control" value="<?= $this->arquivo[0]['idtrecho'] ?>" name="idtrecho">
                                        <input type="text" class="form-control" name="codigo" autocomplete="off">
                                    </div>
                                    <hr><br>
                                    <button type="submit" class="btn btn-success btn-block cadastrar-usuario">
                                        Confirmar
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">Códigos</h4>
        </div>
        <div class="hero">
            <table class="table">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <? foreach ($this->listaDosCodigos as $codigo): ?>
                        <tr>
                            <td><?= $codigo['descricao'] ?></td>
                            <td>         
                                <button href="#" data-toggle="modal" data-target="#Modal-editar<?= $codigo['idcodigo'] ?>" title="Visualizar" class="btn btn-primary">
                                    <span>
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </span>
                                </button>
                                <a onclick="excluirCodigo(<?= $codigo['idcodigo'] ?>)" title="Deletar" class="btn btn-danger" style="cursor: pointer;">
                                    <span>
                                        <i class="fas fa-trash"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    <? endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
</div>

<?php foreach ($this->listaDosCodigos as $codigo) { ?>
    <div class="modal fade" id="Modal-editar<?= $codigo['idcodigo'] ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Aviso</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group col-md-12">
                            <label>Código</label>
                            <input type="text" class="form-control" id="descricao<?= $codigo['idcodigo'] ?>" value="<?= $codigo['descricao'] ?>" autocomplete="off" required="true">
                        </div>
                        <div class="form-group col-md-12">
                            <button type="button" class="btn btn-success" onclick="editarCodigo(<?= $codigo['idcodigo'] ?>)">
                                Confirmar
                            </button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">
                        Cancelar
                    </a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
<?php } ?>