<div class="col-md-3"></div>
<section class="col-md-6">
    <div class="jumbotron" style="height: 600px; overflow-y: scroll">
        <div class="container">
            <h3 class="text-center">Projetos</h3>
            <div class="panel-body">

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <?php foreach ($this->listaProjetos as $projeto): ?>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading<?= $projeto['idprojeto'] ?>">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse<?= $projeto['idprojeto'] ?>" aria-expanded="false" aria-controls="collapse" class="collapsed">
                                        <i class="more-less glyphicon glyphicon-chevron-down"></i>
                                        <?= $projeto['titulo'] ?>
                                    </a>
                                </h4>
                            </div>

                            <div class="panel-collapse collapse" id="collapse<?= $projeto['idprojeto'] ?>" aria-labelledby="heading<?= $projeto['idprojeto'] ?>" role="tabpanel">
                                <div class="panel-body">
                                    <p class="well" style="font-size: 14px">
                                        <?= $projeto['descricao'] ?>
                                    </p>

                                    <a href="<?= $this->baseUrl('admin-codificador/trechos/id/' . $projeto['idprojeto']) ?>" class="btn btn-block btn-primary btn-labeled">
                                        <span class="btn-label">
                                            <i class="fas fa-eye"></i>
                                        </span>
                                        Visualizar Trechos
                                    </a>
                                </div>
                            </div>
                        </div>
                    <?php endforeach; ?>
                </div>
            </div>
        </div>
</section>
<div class="col-md-3"></div>