<div class="col-md-3"></div>
<section class="col-md-6">
    <div class="jumbotron" style="height: 550px; overflow-y: scroll">
        <div class="container">
            <h3 class="text-center">Projetos</h3>
            <div class="panel-body">
                <?php foreach ($this->listaProjetos as $projeto): ?>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading<?= $projeto['idprojeto'] ?>">
                            <div class="row">
                                <div class="col-lg-6" style="padding: 7px">
                                    <?= $projeto['titulo'] ?>
                                </div>

                                <div class="col-lg-6">
                                    <a style="width: 40px" href="<?= $this->baseUrl('trecho/codificador/id/' . $projeto['idprojeto']) ?>" class="btn btn-primary btn-labeled" title="Visualizar Projeto">
                                        <span class="btn-label">
                                            <i class="glyphicon glyphicon-eye-open"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
</section>
<div class="col-md-3"></div>