<div class="col-md-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<?= $this->baseUrl('admin-avaliador') ?>">Início</a></li>
            <li class="breadcrumb-item active" aria-current="page"><?= $this->projeto['titulo'] ?></li>
        </ol>
    </nav>
    <a class="btn btn-sm btn-primary" href="<?= $this->baseUrl('admin-avaliador') ?>" style="margin-bottom: 5px">Voltar</a>
</div>

<div class="col-md-3"></div>
<section class="col-md-6">
    <div class="jumbotron" style="padding-bottom: 10px">
        <div class="container">
            <div class="col-lg-12">
                <form method="post" id="projetoUpload">
                    <div class="form-group">
                        <label>Título</label>
                        <input type="hidden" id="idprojeto" name="idprojeto" value="<?php echo $this->projeto['idprojeto'] ?>">
                        <input type="text" class="form-control" name="titulo" autocomplete="off" value="<?php echo $this->projeto['titulo'] ?>" required="true">
                    </div>
                    <div class="form-group">
                        <label>Descrição</label>
                        <textarea class="form-control" name="descricao" cols="4"><?php echo $this->projeto['descricao'] ?></textarea>
                    </div>
                </form>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-12">
                <form method="post" id="importar-arquivo" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Arquivo:</label>
                        <input type="file" class="form-control" name="arquivo" required="true">
                        <input type="hidden" name="idprojetoarquivo" value="<?php echo $this->projeto['idprojeto'] ?>">
                    </div>
                    <button class="btn btn-primary btn-block">
                        Importar Arquivo ao Projeto <?php echo $this->projeto['titulo'] ?>
                    </button>
                </form>
            </div>
        </div>
        <div class="container">
            <h4 class="text-center">Arquivos do <?php echo $this->projeto['titulo'] ?></h4>
            <div class="col-lg-12">
                <div style="height:150px; overflow-y: scroll;">
                    <table class="table table-bordered table-striped table-order table-ordenar" style="width: 100%">
                        <thead>
                            <tr>
                                <th>Descrição</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody class="table-remover-codificador-arquivo">
                            <?php $cont = 0; ?>
                            <?php foreach ($this->listaArquivos as $arquivo): ?>
                                <?php $cont++; ?>
                                <tr>
                                    <td>
                                        <?= $arquivo['titulo'] ?>
                                    </td>
                                    <td>
                                        <a target="_blank" class="btn btn-sm btn-primary" href="<?= $this->baseUrl($arquivo['descricao']) ?>" title="Visualizar Arquivo">
                                            <i class="glyphicon glyphicon-eye-open"></i>
                                        </a>
                                        <a href="#" class="btn btn-sm btn-info" data-toggle="modal" data-target="#Modal-incluir-cliente<?= $arquivo['idtrecho'] ?>" title="Adicionar Codificador">
                                            <i class="fas fa-user-plus"></i>
                                        </a>
                                        <button onclick="remover(<?= $arquivo['idtrecho'] ?>)" class="btn btn-sm btn-danger" title="Deletar arquivo do Projeto">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
                <a href="#" onclick="concluirProjeto(<?= $this->projeto['idprojeto'] ?>)" class="btn btn-success btn-block">Concluir Criação do Projeto</a>
            </div>
        </div>
    </div>
</section>
<div class="col-md-3"></div>

<?php foreach ($this->listaArquivos as $arquivo): ?>
    <div class="modal fade" id="Modal-incluir-cliente<?= $arquivo['idtrecho'] ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Codificadores para o Arquivo <?= $arquivo['titulo'] ?></h4>
                </div>
                <div class="modal-body">

                    <div class="card">
                        <h5 class="card-header">
                            <button class="btn btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#collapse<?= $arquivo['idtrecho'] ?>" aria-expanded="false" aria-controls="collapseExample">
                                <i class="fa fa-rocket"></i>
                                Inserir Novo Codificador
                            </button>
                        </h5>
                        <div class="collapse jumbotron" id="collapse<?= $arquivo['idtrecho'] ?>">
                            <div class="card-body container">
                                <form method="post" id="codificadorNew" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="form-group col-lg-6">
                                                <label>Nome:<strong style="color: red;">*</strong></label>
                                                <input type="text" id="nome" class="form-control form-control-sm" autocomplete="off" required="true">
                                            </div>
                                            <div class="form-group col-lg-6">
                                                <label>Email:<strong style="color: red;">*</strong></label>
                                                <input type="email" id="login" class="form-control form-control-sm" autocomplete="off" required="true">
                                            </div>
                                            <div class="form-group col-lg-12">
                                                <label>Senha:<strong style="color: red;">*</strong></label>
                                                <input type="password" id="senha" class="form-control form-control-sm" autocomplete="off" required="true">
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success btn-sm">
                                        <i class="fa fa-paper-plane"></i>
                                        Confirmar
                                    </button>
                                    <button class="btn btn-primary btn-sm hidden loading" id="loading" type="button">
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        Carregando...
                                    </button>
                                </form>
                            </div>
                            <hr>

                            <div class="table-responsive" style="max-height:300px;">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Codificador</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php $idusuario = Zend_Auth::getInstance()->getIdentity()->idusuario; ?>

                                        <?php $dbTableAvaliador = new Application_Model_DbTable_Avaliador(); ?>
                                        <?php $avaliador = $dbTableAvaliador->getAvaliadorPorIdUsuario($idusuario); ?>

                                        <?php $listaDeCodificadoresGeral = Application_Model_DbTable_Codificador::getCodificadorPorIdAvaliador($avaliador[0]['idavaliador']); ?>
                                        <?php $contA = 0; ?>

                                        <?php foreach ($listaDeCodificadoresGeral as $codificador) { ?>
                                            <?php $result = Application_Model_DbTable_CodificadorTrecho::consultarCodificadorTrecho($codificador['idcodificador'], $arquivo['idtrecho']); ?>                                            
                                            <?php if (empty($result) || $result[$contA]['status'] == '1') { ?>
                                                <tr class="tda<?= $codificador['idcodificador'] ?><?= $arquivo['idtrecho'] ?>">
                                                    <td><?= $codificador['nome'] ?></td>
                                                    <td>
                                                        <a class="btn btn-sm btn-primary" onclick="adicionarCodificador(<?= $codificador['idcodificador'] ?>, <?= $arquivo['idtrecho'] ?>)" title="Adicionar Codificador">Adicionar</a>
                                                    </td>
                                                </tr>
                                            <?php } else { ?>
                                                <?php if (@$result[$contA]['status'] == '1') { ?>
                                                    <tr>
                                                        <td><?= $codificador['nome'] ?></td>
                                                        <td>
                                                            <?php if (@$result[$contA]['status'] == '1') { ?>
                                                                <a class="btn btn-sm btn-primary" onclick="adicionarCodificador(<?= $codificador['idcodificador'] ?>, <?= $arquivo['idtrecho'] ?>)" title="Adicionar Codificador">Adicionar</a>
                                                            <?php } else { ?>
                                                                <a class="btn btn-sm btn-danger" onclick="removerCodificador(<?= $codificador['idcodificador'] ?>, <?= $arquivo['idtrecho'] ?>)">
                                                                    <i class="glyphicon glyphicon-trash"></i>
                                                                </a>
                                                            <?php } ?>    
                                                        </td>
                                                    </tr>
                                                <?php } ?>
                                            <?php } ?>
                                            <?php $cont++; ?>
                                        <?php } ?>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive" style="max-height:300px;">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Codificador</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php $contB = 0; ?>
                                <?php foreach ($listaDeCodificadoresGeral as $codificador) { ?>
                                    <?php $result = Application_Model_DbTable_CodificadorTrecho::consultarCodificadorTrechoAdicionados($codificador['idcodificador'], $arquivo['idtrecho']); ?>
                                    <?php if (@$result[$contB]['status'] == '0') { ?>
                                        <tr class="tdb<?= $codificador['idcodificador'] ?><?= $arquivo['idtrecho'] ?>">
                                            <td><?= $codificador['nome'] ?></td>
                                            <td>
                                                <a class="btn btn-sm btn-danger" onclick="removerCodificador(<?= $codificador['idcodificador'] ?>, <?= $arquivo['idtrecho'] ?>)" title="Remover Codificador">
                                                    <i class="glyphicon glyphicon-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    <?php } ?>

                                    <?php $cont++; ?>
                                <?php } ?>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
<?php endforeach; ?>