<div class="col-md-4 col-lg-4"></div>
<div class="col-md-4 col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title text-center">
                Open Coding Tool
            </h3>
        </div>
        <div class="panel-body">
            <p>
                <?= $this->login ?>
            </p>

            <div class="text-center errors">
                <?= $this->error ?>
            </div>

            <div class="text-center">
                <a href="#" data-toggle="modal" data-target="#exampleModal">Esqueceu a senha?</a><br>
                <a href="<?= $this->baseUrl('criar-conta') ?>">Criar Conta</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 col-lg-4"></div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Solicitar nova senha</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input class="form-control form-control-sm email" placeholder="Email">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-success" onclick="solicitarSenha()">Confirmar</button>
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>