<?php
error_reporting(0);
?>

<? foreach ($this->exibirTrecho as $trecho): ?>
    <legend><strong><?= $trecho['GRUPO'] ?></strong>
        Trecho <?= $trecho['titulo'] ?> - <?= $trecho['descricao'] ?></legend>
<? endforeach; ?>

<? foreach ($this->listaDosCodigosPorTrecho as $codigo): ?>
    <tr>
    <input type="hidden" id="<?= $codigo['idcodigo'] ?>" class="idcodigo" value="<?= $codigo['idcodigo'] ?>">
    <input type="hidden" class="idds" itemtype="<?= $codigo['idcodigo'] ?>" value="<?= $codigo['status'] ?>">
    <td><p><?= $codigo['DESCRICAO'] ?></p></td>
    <td>
        <?
        try {
            $idtrecho = $codigo['idtrecho'];
            $idusuario = $codigo['idusuario'];
            $rows = Application_Model_DbTable_Grupoprojeto::getListarUsuarioTrecho($idusuario, $idtrecho);

        } catch (Exception $exception) {
            echo $exception->getMessage();
            echo "Error!";
            return NULL;
        }
        ?>

        <? foreach ($rows as $codigoAvaliacao): ?> 
            <? $num_rows = count($codigoAvaliacao) ?> 

            <?
            if (!is_array($codigoAvaliacao) || is_null($codigoAvaliacao) ||
                    empty($codigoAvaliacao) || $num_rows == 0) {
                ?>
                vazio

            <? } elseif ($codigoAvaliacao['status'] === '0') { ?>

            <? } elseif ($codigoAvaliacao['status'] === '1') { ?>

                <button href="<?= '#myModalEditar' . $codigo['idcodigo'] ?>" title="Editar" class="btn btn-primary" data-toggle="modal">
                    <span>
                        <i class="glyphicon glyphicon-pencil"></i>
                    </span>
                </button>
                <a onclick="excluirCodigoUsuario(<?= $codigo['idcodigo'] ?>, <?= $codigo['idtrecho'] ?>)" title="Deletar" class="btn btn-danger" style="cursor: pointer;">
                    <span>
                        <i class="fas fa-trash"></i>
                    </span>
                </a>
            <? } ?>
        <? endforeach; ?>
    </td>
    </tr>
<? endforeach; ?>

<!--status da avaliacao-->
<? foreach ($rows as $avaliacao): ?>

    <? if ($avaliacao['status'] === '0') { ?>

    <? } elseif ($avaliacao['status'] === '1') { ?>

        <button onclick="finalizarCodificacao(<?= $avaliacao['idavaliacao'] ?>)" class="btn btn-block btn-success enviar-avaliacao btn-labeled">
            <span class="btn-label">
                <i class="glyphicon glyphicon-send"></i>
            </span>
            Finalizar Codificação
        </button>
    <? } ?>
<? endforeach; ?>

<!-- Modal Codigos -->
<? foreach ($this->listaDosCodigos as $codigo): ?>
    <div class="modal fade" id="<?= 'myModalEditar' . $codigo['idcodigo'] ?>" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Visualizar Código</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="codigo">
                                Código
                            </label>
                            <input id="descricao<?= $codigo['idcodigo'] ?>" type="text" class="form-control" value="<?= $codigo['descricao'] ?>" autocomplete="off">
                            <p>Área destinada para atualização do código desejado do trecho!</p>
                            <input type="hidden" class="idcodigo" value="<?= $codigo['idcodigo'] ?>">
                            <label for="grupocodigo">Grupo</label>
                            <select id="idgrupocodigo<?= $codigo['idcodigo'] ?>" class="form-control" onchange="getOption(this)">
                                <option value="<?= $codigo['idgrupocodigo'] ?>"><?= $codigo['grupo'] ?></option>
                                <? foreach ($this->listaDosGruposCodigos as $grupocodigo): ?>
                                    <option value="<?= $grupocodigo['idgrupocodigo'] ?>"><?= $grupocodigo['descricao'] ?></option>
                                <? endforeach; ?>
                            </select>
                        </div>
                        <button type="button" onclick="editarCodigo(<?= $codigo['idcodigo'] ?>, <?= $codigo['idtrecho'] ?>)" class="btn btn-block btn-info">
                            Atualizar
                        </button>
                    </form>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                    <button type="button" class="btn" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
<? endforeach; ?>

<script>
    function load(id) {
        $('#collapse' + id).collapse();
    }
</script>