<!doctype html>
<html lang="pt-br">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="pesquisa qualitativa de dados">
        <meta name="author" content="Maurício Escobar">
        <title>
            Open Coding Tool
        </title>
        <script type="text/javascript">
            var baseUrl = '<?= $this->baseUrl('/') ?>';
        </script>
        <!--<link rel="icon" type="image/png" href=<?= $this->baseUrl("bootstrap/img/") ?> />-->

        <!--Caminho da public "$this->baseUrl()-->
        <link rel="stylesheet" type="text/css" media="screen" href=<?= $this->baseUrl("dist/css/bootstrap.min.css") ?> />
        <link rel="stylesheet" type="text/css" href=<?= $this->baseUrl("dist/css/estilo.css") ?> />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    <body>      
        <div>
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button data-target="#navbar-main" data-toggle="collapse" type="button" class="navbar-toggle">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="<?= $this->baseUrl('') ?>" class="navbar-brand" title="Página inicial">
                            Open Coding Tool
                        </a>
                    </div>
                </div>
            </div>
            <!--Conteudo das páginas-->
            <div>
                <?php echo $this->layout()->content; ?>
            </div>
        </div>

        <script type="text/javascript" src="<?= $this->baseUrl('dist/js/jquery-2.1.1.min.js') ?>"></script>
        <script type="text/javascript" src="<?= $this->baseUrl('dist/js/jquery-ui-1.12.4.js') ?>"></script>
        <script type="text/javascript" src="<?= $this->baseUrl('dist/js/bootstrap.js') ?>"></script>
        <?= $this->headScript(); ?>
    </body>
</html>