<!doctype html>
<html lang="pt-br">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="pesquisa qualitativa de dados">
        <meta name="author" content="Maurício Escobar">
        <title>
            Open Coding Tool
        </title>

        <script type="text/javascript">
            var baseUrl = '<?= $this->baseUrl('/') ?>';
        </script>

        <link rel="icon" type="image/png" href=<?= $this->baseUrl("bootstrap/img/") ?> />

        <!--Caminho da public "$this->baseUrl()-->
        <link rel="stylesheet" type="text/css" media="screen" href=<?= $this->baseUrl("dist/css/bootstrap.min.css") ?> />
        <link rel="stylesheet" type="text/css" media="screen" href=<?= $this->baseUrl("dist/css/estilo.css") ?> />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    </head>
    <body>      
        <div>
            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button data-target="#navbar-main" data-toggle="collapse" type="button" class="navbar-toggle">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="<?= $this->baseUrl('discente') ?>" class="navbar-brand">
                            Open Coding Tool
                        </a>
                    </div>
                    <div id="navbar-main" class="navbar-collapse collapse nav-collapse">

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#" data-toggle="modal" data-target="#Modal-sair">
                                    Sair
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--Conteudo das páginas-->
            <main>
                <?php echo $this->layout()->content; ?>
            </main>

        </div>

        <div class="modal fade" id="Modal-sair" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Mensagem de Alerta</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            Deseja realmente sair do sistema?
                        </p>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-primary" href="<?= $this->baseUrl('/discente/sair') ?>">
                            Confirmar
                        </a>
                        <a class="btn btn-default" data-dismiss="modal">
                            Cancelar
                        </a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <script type="text/javascript" src="<?= $this->baseUrl('dist/js/jquery-2.1.1.min.js') ?>"></script>
        <script type="text/javascript" src="<?= $this->baseUrl('dist/js/jquery-ui-1.12.4.js') ?>"></script>
        <script type="text/javascript" src="<?= $this->baseUrl('dist/js/bootstrap.js') ?>"></script>
        <script type="text/javascript" src="<?= $this->baseUrl('dist/js/bootbox.min.js') ?>"></script>
        <?= $this->headScript(); ?>
    </body>
</html>