<!doctype html>
<html lang="pt-br">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="pesquisa qualitativa de dados">
        <meta name="author" content="Maurício Escobar">
        <title>
            Open Coding Tool
        </title>

        <script type="text/javascript">
            var baseUrl = 'http://opencodingtool.com.br/';
        </script>

        <link rel="icon" type="image/png" href=<?= $this->baseUrl("bootstrap/img/") ?> />

        <!--Caminho da public "$this->baseUrl()-->
        <link rel="stylesheet" type="text/css" media="screen" href="http://localhost/callsystempro/public/dist/css/bootstrap.min.css" />
        <!--<link rel="stylesheet" type="text/css" media="screen" href=<?= $this->baseUrl("dist/css/estilo.css") ?> />-->

    </head>
    <body>      
        <div>
            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button data-target="#navbar-main" data-toggle="collapse" type="button" class="navbar-toggle">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="http://localhost/legacysystemreport/public/" class="navbar-brand">
                            Open Coding Tool
                        </a>
                    </div>
                </div>
            </div>

            <!--Conteudo das páginas-->
            <main>
                <?php echo $this->layout()->content; ?>
            </main>

        </div>



        <script type="text/javascript" src="<?= $this->baseUrl('dist/js/jquery-2.1.1.min.js') ?>"></script>
        <script type="text/javascript" src="<?= $this->baseUrl('dist/js/jquery-ui-1.12.4.js') ?>"></script>
        <script type="text/javascript" src="<?= $this->baseUrl('dist/js/bootstrap.js') ?>"></script>
        <script type="text/javascript" src="<?= $this->baseUrl('dist/js/bootbox.min.js') ?>"></script>
        <?= $this->headScript(); ?>
    </body>
</html>