<!doctype html>
<html lang="pt-br">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="pesquisa qualitativa de dados">
        <meta name="author" content="Maurício Escobar">
        <title>
            Open Coding Tool
        </title>

        <script type="text/javascript">
            var baseUrl = '<?= $this->baseUrl('/') ?>';
        </script>

        <link rel="icon" type="image/png" href=<?= $this->baseUrl("bootstrap/img/") ?> />

        <!--Caminho da public "$this->baseUrl()-->
        <link rel="stylesheet" type="text/css" media="screen" href=<?= $this->baseUrl("dist/css/bootstrap.min.css") ?> />
        <link rel="stylesheet" type="text/css" media="screen" href=<?= $this->baseUrl("dist/css/estilo.css") ?> />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    </head>
    <? foreach ($this->exibirTrecho as $trech): ?>                        
        <body onload="load(<?= $trech['idtrecho'] ?>)">
        <? endforeach; ?>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button data-target="#navbar-main" data-toggle="collapse" type="button" class="navbar-toggle">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <? $idusuario = Zend_Auth::getInstance()->getIdentity()->idusuario; ?>
                    <? if ($idusuario === '0') { ?>
                        <a href="<?= $this->baseUrl('admin') ?>" class="navbar-brand">
                            Open Coding Tool
                        </a>
                    <? } else { ?>
                        <a href="<?= $this->baseUrl('admin-codificador') ?>" class="navbar-brand">
                            Open Coding Tool
                        </a>
                    <? } ?>
                </div>
                <div id="navbar-main" class="navbar-collapse collapse nav-collapse">

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" data-toggle="modal" data-target="#Modal-sair">
                                Sair
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--Conteudo das páginas-->
        <main>
            <!--<div class="col-md-1"></div>-->
            <div class="col-md-12">
                <div class="col-md-7">
                    <div class="col-md-12 trecho">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Trechos
                            </div>
                            <div class="panel-body">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">                                        
                                    <? foreach ($this->listaDosTrechos as $trecho): ?>
                                        <?php if ($trecho['tipo'] === '0') { ?>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="heading<?= $trecho['idtrecho'] ?>">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<?= $trecho['idtrecho'] ?>" aria-expanded="false" aria-controls="collapse<?= $trecho['idtrecho'] ?>" class="collapsed">
                                                            <i class="more-less glyphicon glyphicon-chevron-down"></i>
                                                            <?
//                                                            $idgrupoprojeto = $trecho['idgrupoprojeto'];
                                                            $idtrecho = $trecho['idtrecho'];

//                                                            $codigos = Application_Model_DbTable_Trecho::getUsuarioTrechoGrupo($idusuario, $idgrupoprojeto, $idtrecho);
                                                            ?>

                                                            <? // foreach ($codigos as $codigo): ?>

                                                            <? if ($trecho['avaliacao'] === '1') { ?>
                                                                <i class="fa fa-code" style="color:black;"></i>
                                                            <? } else if ($trecho['avaliacao'] === '0') { ?>
                                                                <i class="glyphicon glyphicon-ok" style="color:green;"></i>
                                                            <? } ?>
                                                            <? // endforeach; ?>


                                                            Trecho <?= $trecho['titulo'] ?>

                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapse<?= $trecho['idtrecho'] ?>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<?= $trecho['idtrecho'] ?>" style="height: 0px;">
                                                    <div class="panel-body">
                                                        <input type="hidden" id="<?= $trecho['idtrecho'] ?>" class="idtrecho" value="<?= $trecho['idtrecho'] ?>">
                                                        <p class="well"><?= $trecho['descricao'] ?></p>
                                                        <?
//                                                        $idtrecho = $trecho['idtrecho'];
//                                                        $idusuario = $trecho['idusuario'];

                                                        $rows = Application_Model_DbTable_Trecho::getUsuarioTrecho($idusuario, $idtrecho);
                                                        ?>

                                                        <!--status da avaliacao-->
                                                        <? foreach ($rows as $avaliacao): ?>

                                                            <? if ($avaliacao['status'] === '0') { ?>

                                                                <a href="<?= $this->baseUrl('codigo/listar/id/' . $trecho['idtrecho']) ?>" class="btn btn-block btn-info btn-labeled">
                                                                    <span class="btn-label">
                                                                        <i class="fas fa-eye"></i>
                                                                    </span>
                                                                    Visualizar Códigos
                                                                </a>

                                                            <? } elseif ($avaliacao['status'] === '1') { ?>

                                                                <a href="<?= $this->baseUrl('codigo/listar/id/' . $trecho['idtrecho']) ?>" class="btn btn-block btn-info btn-labeled">
                                                                    <span class="btn-label">
                                                                        <i class="fas fa-eye"></i>
                                                                    </span>
                                                                    Visualizar Códigos
                                                                </a>
                                                                <button href="<?= '#myModal' . $trecho['idtrecho'] ?>" class="btn btn-block btn-warning btn-labeled" data-toggle="modal">
                                                                    <span class="btn-label">
                                                                        <i class="glyphicon glyphicon-edit"></i>
                                                                    </span>
                                                                    Criar Código
                                                                </button>
                                                            <? } ?>
                                                        <? endforeach; ?>
                                                    </div>
                                                </div>
                                            </div>
                                        <?php } else { ?>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="heading<?= $trecho['idtrecho'] ?>">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<?= $trecho['idtrecho'] ?>" aria-expanded="false" aria-controls="collapse<?= $trecho['idtrecho'] ?>" class="collapsed">
                                                            <i class="more-less glyphicon glyphicon-chevron-down"></i>

                                                            <?
//                                                            $idgrupoprojeto = $trecho['idgrupoprojeto'];
                                                            $idtrecho = $trecho['idtrecho'];
//                                                            $codigos = Application_Model_DbTable_Trecho::getUsuarioTrechoGrupo($idusuario, $idgrupoprojeto, $idtrecho);
                                                            ?>

                                                            <? // foreach ($codigos as $codigo):  ?>

                                                            <? if ($trecho['avaliacao'] === '1') { ?>
                                                                <i class="fa fa-code" style="color:black;"></i>
                                                            <? } else if ($trecho['avaliacao'] === '0') { ?>
                                                                <i class="glyphicon glyphicon-ok" style="color:green;"></i>
                                                            <? } ?>
                                                            <? // endforeach; ?>

                                                            Trecho <?= $trecho['titulo'] ?>

                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapse<?= $trecho['idtrecho'] ?>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<?= $trecho['idtrecho'] ?>" style="height: 0px;">
                                                    <div class="panel-body">
                                                        <input type="hidden" id="<?= $trecho['idtrecho'] ?>" class="idtrecho" value="<?= $trecho['idtrecho'] ?>">
                                                        <p class="well">
                                                            <iframe id="pdf<?= $trecho['idarquivo'] ?>" src="<?= $this->baseUrl() . $trecho['descricao'] ?>" width="100%" height="380" style="border: none;"></iframe>
                                                        </p>

                                                        <? $rows = Application_Model_DbTable_Trecho::getUsuarioTrecho($idusuario, $idtrecho); ?>

                                                        <!--status da avaliacao-->
                                                        <? foreach ($rows as $avaliacao): ?>

                                                            <? if ($avaliacao['status'] === '0') { ?>

                                                                <a href="<?= $this->baseUrl('codigo/listar/id/' . $trecho['idtrecho']) ?>" class="btn btn-block btn-info btn-labeled">
                                                                    <span class="btn-label">
                                                                        <i class="fas fa-eye"></i>
                                                                    </span>
                                                                    Visualizar Códigos
                                                                </a>

                                                            <? } elseif ($avaliacao['status'] === '1') { ?>

                                                                <a href="<?= $this->baseUrl('codigo/listar/id/' . $trecho['idtrecho']) ?>" class="btn btn-block btn-info btn-labeled">
                                                                    <span class="btn-label">
                                                                        <i class="fas fa-eye"></i>
                                                                    </span>
                                                                    Visualizar Códigos
                                                                </a>
                                                                <button href="<?= '#myModal' . $trecho['idtrecho'] ?>" class="btn btn-block btn-warning btn-labeled" data-toggle="modal">
                                                                    <span class="btn-label">
                                                                        <i class="glyphicon glyphicon-edit"></i>
                                                                    </span>
                                                                    Criar Código
                                                                </button>
                                                            <? } ?>
                                                        <? endforeach; ?>
                                                    </div>
                                                </div>
                                            </div>
                                        <?php } ?>
                                    <? endforeach; ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--</div>-->

                <div class="col-md-5 codigo">
                    <div id="listacodigos" class="panel panel-primary ocultar">
                        <div class="panel-heading">Códigos</div>
                        <div class="panel-body">
                            <div class="panel panel-default">
                                <h4 class="panel-title"></h4>
                                <div class="panel-body">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Códigos</th>
                                                <th>Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody id="codigos">

                                            <?php echo $this->layout()->content; ?>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Trechos -->
            <? foreach ($this->listaDosTrechos as $trecho): ?>
                <div class="modal fade" id="<?= 'myModal' . $trecho['idtrecho'] ?>" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Cadastrar Código do trecho</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="codigo">
                                            Código
                                        </label>
                                        <input type="text" id="trecho<?= $trecho['idtrecho'] ?>" class="form-control trecho<?= $trecho['idtrecho'] ?>" placeholder="Código" autocomplete="off">
                                        <p>Informe o código desejado do trecho!</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="grupocodigo">Grupo de Código</label>
                                        <select id="idgrupocodigo<?= $trecho['idtrecho'] ?>" class="form-control" onchange="getOption(this)">
                                            <option>Escolha um Grupo de Código...</option>
                                            <? foreach ($this->listaDosGruposCodigos as $grupo): ?>
                                                <option value="<?= $grupo['idgrupocodigo'] ?>"><?= $grupo['descricao'] ?></option>
                                            <? endforeach; ?>
                                        </select>
                                    </div>

                                    <button type="button" onclick="salvarCodigo(<?= $trecho['idtrecho'] ?>)" class="btn btn-block btn-warning">
                                        Salvar Código
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                            <button type="button" class="btn" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            <? endforeach; ?>



            <!-- Modal Codigos Por Trecho -->
            <? foreach ($this->listaDosTrechos as $trecho): ?>
                <div class="modal fade" id="<?= 'myModalVisualizar' . $trecho['idtrecho'] ?>" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Visualizar Códigos do <?= $trecho['titulo'] ?></h4>
                            </div>
                            <div class="modal-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Código</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody id="codigos">
                                        <? foreach ($this->listaDosCodigosPorTrecho as $codigo): ?>
                                            <tr>
                                        <input type="hidden" id="<?= $codigo['idcodigo'] ?>" class="idcodigo" value="<?= $codigo['idcodigo'] ?>">
                                        <input type="hidden" class="ids" itemtype="<?= $codigo['idcodigo'] ?>" value="<?= $codigo['status'] ?>">
                                        <td><p><?= $codigo['DESCRICAO'] ?></p></td>
                                        <td>
                                            <button href="<?= '#myModalEditar' . $codigo['idcodigo'] ?>" title="Visualizar" class="btn btn-primary" data-toggle="modal">
                                                <span class="btn-label">
                                                    <i class="fas fa-eye"></i>
                                                </span>
                                            </button>
                                            <a onclick="excluirCodigo(<?= $codigo['idcodigo'] ?>)" title="Deletar" class="btn btn-danger btn-labeled" style="cursor: pointer;">
                                                <span class="btn-label">
                                                    <i class="fas fa-trash"></i>
                                                </span>
                                            </a>
                                        </td>
                                        </tr>
                                    <? endforeach; ?>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                                <button type="button" class="btn" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            <? endforeach; ?>
        </main>
    </div>

    <div class="modal fade" id="Modal-sair" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Mensagem de Alerta</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Deseja realmente sair do sistema?
                    </p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="<?= $this->baseUrl('/index/sair') ?>">
                        Confirmar
                    </a>
                    <a class="btn btn-default" data-dismiss="modal">
                        Cancelar
                    </a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <script type="text/javascript" src="<?= $this->baseUrl('dist/js/jquery-2.1.1.min.js') ?>"></script>
    <script type="text/javascript" src="<?= $this->baseUrl('dist/js/jquery-ui-1.12.4.js') ?>"></script>
    <script type="text/javascript" src="<?= $this->baseUrl('dist/js/bootstrap.js') ?>"></script>
    <script type="text/javascript" src="<?= $this->baseUrl('dist/js/bootbox.min.js') ?>"></script>
    <?= $this->headScript(); ?>


    <script>
                                                function getSelectionText() {
                                                    var text = "";
                                                    var activeEl = document.activeElement;
                                                    var activeElTagName = activeEl ? activeEl.tagName.toLowerCase() : null;
                                                    if (
                                                            (activeElTagName == "textarea") || (activeElTagName == "input" && activeElTagName == "embed" &&
                                                            /^(?:text|search|password|tel|url)$/i.test(activeEl.type)) &&
                                                            (typeof activeEl.selectionStart == "number")
                                                            ) {
                                                        text = activeEl.value.slice(activeEl.selectionStart, activeEl.selectionEnd);
                                                    } else if (window.getSelection) {
                                                        text = window.getSelection().toString();
                                                    }

                                                    document.execCommand('copy');
                                                    return text;
                                                }

                                                document.onmouseup = document.onkeyup = document.onselectionchange = function () {
<? foreach ($this->listaDosTrechos as $trecho): ?>
                                                        document.getElementById('trecho<?= $trecho["idtrecho"] ?>').value = getSelectionText();
<? endforeach; ?>
                                                };
    </script>

</body>
</html>