<div class="col-md-2 col-lg-2"></div>
<div class="col-md-8 col-lg-8">
    <div class="jumbotron">
        <div class="container">
            <h1>Legacy System Report!</h1>
            <p>Sistema distinado para avaliações de Código, gerados a partir
                do Trecho de um determinado Artigos!</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">
                    Saiba Mais...
                </a>
            </p>
        </div>
    </div>
</div>
<div class="col-md-2 col-lg-2"></div>