<div class="col-lg-2"></div>
<div class="col-lg-8">
    <button class="btn btn-success export" style="float: right;">
        Exportar
    </button>
</div>
<div class="col-lg-2"></div>
<br>
<br>

<div class="col-lg-2"></div>
<div class="col-lg-8">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading text-center">Relatório de Codificação por Códigos</div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="col-lg-3">Códigos Aceitos</th>
                    <th class="col-lg-3">Grupo do Código</th>
                    <th class="col-lg-9">Trecho</th>
                </tr>
            </thead>
            <tbody>
                <? foreach ($this->listaDasAvaliacoes as $relatorio): ?>
                    <tr>
                        <td><?= $relatorio['descricao'] ?></td>
                        <td><?= $relatorio['GRUPO'] ?></td>
                        <td>Trecho <?= $relatorio['idtrecho'] ?> - <?= $relatorio['DESCRICAO'] ?></td>
                    </tr>
                <? endforeach; ?>
            </tbody>
        </table>
    </div>
</div>
<div class="col-lg-2"></div>