<div class="col-lg-2"></div>
<div class="col-lg-8">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading text-center">Status de Codificação por Trechos</div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Usuário</th>
                    <th>Finalizou</th>
                    <th>Restam</th>
                </tr>
            </thead>
            <tbody>
                <? foreach ($this->listaDasAvaliacoes as $avaliacao): ?>

                    <?
                    $idusuario = $avaliacao['idusuario'];

                    $avaliacoes = Application_Model_DbTable_Grupoprojeto::getAvaliacao($idusuario);

//                    include 'C:\xampp\htdocs\legacysystemreport\application\models\DbTable\permissao.php';
//                    include '/../../../models/DbTable/permissao.php';
//                    $stmt = $adapter->query("Select usuario.login, SUM(avaliacao.status = 1) AS finalizou, SUM(avaliacao.status = 0) AS restam FROM avaliacao, usuario WHERE"
//                            . " usuario.idusuario = avaliacao.idusuario AND "
//                            . "usuario.idusuario = '$idusuario' ");
//
//                    $avaliacoes = $stmt->fetchAll();
//                                                var_dump($rows);die();
                    ?>

                    <? foreach ($avaliacoes as $avalia): ?>
                        <tr>
                            <td><?= $avalia['login'] ?></td>
                            <td><?= $avalia['finalizou'] ?></td>
                            <td><?= $avalia['restam'] ?></td>
                        </tr>
                    <? endforeach; ?>

                <? endforeach; ?>
            </tbody>
        </table>
    </div>
</div>
<div class="col-lg-2"></div>