<!-- Modal -->
<div class="modal in" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="display: block; padding-left: 17px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Selecione</h1>
                <!--<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
            </div>
            <div class="modal-body">
                Para qual gerencia deseja ser redirecionado?
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" href="<?= $this->baseUrl('admin-avaliador') ?>">Avaliador</a>
                <a class="btn btn-primary" href="<?= $this->baseUrl('admin-codificador') ?>">Codificador</a>
            </div>
        </div>
    </div>
</div>

<style>
    .navbar{
        opacity: 0;
    }
    
    body{
        background-color: black;
    }
</style>