<div class="col-md-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <?php if (Zend_Auth::getInstance()->getIdentity()->idperfil === '3' || Zend_Auth::getInstance()->getIdentity()->idperfil === '4') { ?>
                <li class="breadcrumb-item"><a href="<?= $this->baseUrl('admin-codificador') ?>">Início</a></li>
            <?php } else { ?>
                <li class="breadcrumb-item"><a href="<?= $this->baseUrl('admin-avaliador') ?>">Início</a></li>
            <?php } ?>
            <li class="breadcrumb-item active" aria-current="page"><?= $this->projeto['titulo'] ?></li>
        </ol>
    </nav>
    <?php if (Zend_Auth::getInstance()->getIdentity()->idperfil === '3' || Zend_Auth::getInstance()->getIdentity()->idperfil === '4') { ?>
        <a class="btn btn-sm btn-primary" href="<?= $this->baseUrl('admin-codificador') ?>" style="margin-bottom: 5px">Voltar</a>
    <?php } else { ?>
        <a class="btn btn-sm btn-primary" href="<?= $this->baseUrl('admin-avaliador') ?>" style="margin-bottom: 5px">Voltar</a>
    <?php } ?>
</div>

<div class="col-lg-3"></div>
<section class="col-lg-6">
    <div class="jumbotron" style="height: 550px; overflow-y: scroll">
        <div class="container">
            <h3 class="text-center">Arquivos</h3>
            <div class="panel-body">
                <?php foreach ($this->listaDosArquivos as $arquivo) { ?>
                    <?php // $idusuario = Zend_Auth::getInstance()->getIdentity()->idusuario; ?>
                    <?php // echo $idusuario; ?>
                    <?php // $codificador = Application_Model_DbTable_Codificador::getCodificadorPorIdUsuario(intval($idusuario)); ?>
                    <?php // var_dump($codificador[0]['idcodificador']); ?>
                    <?php $codigoHasTrecho = Application_Model_DbTable_CodificadorTrecho::getCodigoHasTrechoPorId($arquivo['idtrecho']); ?>  
                    <?php var_dump($codigoHasTrecho); ?> 
                
                    <?php // if (empty($codigoHasTrecho[0])) { ?>
                <!--opa-->
                    <?php // } else { ?>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading<?= $arquivo['idtrecho'] ?>">
                                <div class="row">
                                    <div class="col-lg-6" style="padding: 7px">
                                        <?= $arquivo['titulo'] ?>
                                    </div>
                                    <div class="col-lg-6"> 
                                        
                                        <?php if ($codigoHasTrecho[0]['status'] == '0' && $arquivo['projetostatus'] == '1' && $arquivo['start'] == '1') { ?>

                                            <a style="width: 36px" href="<?= $this->baseUrl('admin-codificador/codificar/id/' . $arquivo['idtrecho']) ?>" class="btn btn-sm btn-primary btn-labeled" title="Realizar Codificação">
                                                <span class="btn-label">
                                                    <i class="glyphicon glyphicon-edit"></i>
                                                </span>
                                            </a>

                                            <button style="width: 36px" onclick="finalizar(<?= $arquivo['idtrecho'] ?>)" class="btn btn-sm btn-warning btn-labeled" title="Finalizar Codificação">
                                                <span class="btn-label">
                                                    <i class="glyphicon glyphicon-ok"></i>
                                                </span>
                                            </button>
                                        <?php } else { ?>
                                            <button style="width: 36px" class="btn btn-sm btn-default btn-labeled">
                                                <span class="btn-label">
                                                    <i class="glyphicon glyphicon-edit"></i>
                                                </span>
                                            </button>

                                            <button  style="width: 36px" class="btn btn-sm btn-default btn-labeled">
                                                <span class="btn-label">
                                                    <i class="glyphicon glyphicon-ok"></i>
                                                </span>
                                            </button>
                                        <?php } ?>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php // } ?>
                <?php } ?>
            </div>
        </div>
    </div>
</section>
<div class="col-lg-3"></div>
