<!--<br><br>-->
<div class="col-md-3"></div>
<section class="col-md-6">
    <div class="jumbotron">
        <div class="container">
            <form class="form-horizontal" id="importar-trecho" method="post" enctype="multipart/form-data">
                <legend class="text-center">
                    Importar Trechos
                </legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <label for="projeto">Projeto</label>
                        <select id="projeto" class="form-control" onchange="getOption(this)">
                            <option>Escolha um Projeto...</option>
                            <? foreach ($this->listaDosProjetos as $projeto): ?>
                                <option value="<?= $projeto['idprojeto'] ?>"><?= $projeto['descricao'] ?></option>
                            <? endforeach; ?>
                        </select>
                    </div>
                </div>

                <script>
                    function getOption() {
                        var idprojeto = document.getElementById('projeto').value;
                        $.ajax({
                            type: "POST",
                            url: baseUrl + 'usuario/grupos',
                            data: {idprojeto: idprojeto},
                            async: false,
                            beforeSend: function () {
                            },
                            success: function (data) {
                                $('#idgrupoprojeto').prop('disabled', false);

                                var html = '<option>Escolha um Grupo...</option>';
                                for (var i = 0; i < data.size; i++) {
                                    html += '<option value=' + data.grupos[i]['idgrupoprojeto'] + '>' + data.grupos[i]['descricao'] + '</option>';
                                }

                                $('#idgrupoprojeto').html(html);
                            },
                            error: function () {
                            }
                        });
                    }


                </script>
                <div class="form-group">
                    <div class="col-md-12">
                        <label for="grupo">Grupo</label>
                        <select id="idgrupoprojeto" name="idgrupoprojeto" class="form-control" disabled="true">

                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Arquivo:</label>
                        <input type="file" class="form-control" id="arquivo" name="arquivo" placeholder="Arquivo" style="cursor: pointer">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <!--<button id="salvar_Trechos" class="btn btn-primary">Importar</button>-->
                        <button type="submit" class="btn btn-primary btn-block">Importar</button>
                        <!--<button type="reset" class="btn btn-default">Cancelar</button>-->
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<div class="col-md-3"></div>