<div class="col-md-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <?php if (Zend_Auth::getInstance()->getIdentity()->idperfil === '3') { ?>
                <li class="breadcrumb-item"><a href="<?= $this->baseUrl('admin-codificador') ?>">Início</a></li>
            <?php } else { ?>
                <li class="breadcrumb-item"><a href="<?= $this->baseUrl('admin-avaliador') ?>">Início</a></li>
            <?php } ?>
            <li class="breadcrumb-item active" aria-current="page"><?= $this->projeto['titulo'] ?></li>
        </ol>
    </nav>
    <?php if (Zend_Auth::getInstance()->getIdentity()->idperfil === '3') { ?>
        <a class="btn btn-sm btn-primary" href="<?= $this->baseUrl('admin-codificador') ?>" style="margin-bottom: 5px">Voltar</a>
    <?php } else { ?>
        <a class="btn btn-sm btn-primary" href="<?= $this->baseUrl('admin-avaliador') ?>" style="margin-bottom: 5px">Voltar</a>
    <?php } ?>
</div>

<div class="container">
    <div class="col-lg-3"></div>
    <div class="jumbotron col-lg-6" style="height: 550px; overflow-y: scroll">
        <div class="container">
            <h3 class="text-center">Arquivos</h3>
            <div class="panel-body">
                <?php foreach ($this->listaDosArquivos as $arquivo): ?>
                    <?php if (Zend_Auth::getInstance()->getIdentity()->idperfil === '3') { ?>
                        <a href="<?= $this->baseUrl('admin-codificador/codificar/id/' . $arquivo['idtrecho']) ?>" class="btn btn-sm btn-primary btn-block btn-labeled">
                        <?php } else { ?>
                            <a href="<?= $this->baseUrl('admin/index/id/' . $arquivo['idtrecho']) ?>" class="btn btn-sm btn-primary btn-block btn-labeled">
                            <?php } ?>
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-edit"></i>
                            </span>
                            <?= $arquivo['titulo'] ?>
                        </a>
                    <?php endforeach; ?>
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>