<section style="margin-top: 10%;">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 text-center">
            <div class="col-lg-12">
                <h2>Ops!! :(</h2>
                <img style="width: 80%" src="<?=$this->baseUrl('/dist/img/rocket.png')?>">
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</section>