<div class="container">
    <div class="jumbotron col-lg-6">
        <div class="container">
            <h3 class="text-center">Projetos</h3>
            <div class="panel-body">

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading btn-info" role="tab" id="heading">
                            <a href="<?= $this->baseUrl('projeto/cadastrar') ?>" style="text-decoration: none;">
                                <h4 class="panel-title text-center" style="color: white;">
                                    Criar novo Projeto
                                </h4>
                            </a>
                        </div>
                    </div>

                    <?php foreach ($this->listaProjetos as $projeto): ?>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading<?= $projeto['idprojeto'] ?>">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse<?= $projeto['idprojeto'] ?>" aria-expanded="false" aria-controls="collapse" class="collapsed">
                                        <i class="more-less glyphicon glyphicon-chevron-down"></i>
                                        <?= $projeto['titulo'] ?>
                                    </a>
                                </h4>
                            </div>

                            <div class="panel-collapse collapse" id="collapse<?= $projeto['idprojeto'] ?>" aria-labelledby="heading<?= $projeto['idprojeto'] ?>" role="tabpanel">
                                <div class="panel-body">
                                    <p class="well" style="font-size: 14px">
                                        <?= $projeto['descricao'] ?>
                                    </p>

                                    <?php if ($projeto['status'] === '0') { ?>
                                        <a href="<?= $this->baseUrl('arquivo/continuar/id/' . $projeto['idprojeto']) ?>" class="btn btn-block btn-primary btn-labeled">
                                            <span class="btn-label">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </span>
                                            Continuar Criação do Projeto
                                        </a>
                                    <?php } else if($projeto['status'] === '1') { ?>
                                        <a href="<?= $this->baseUrl('admin/index/id/' . $projeto['idprojeto']) ?>" class="btn btn-block btn-primary btn-labeled">
                                            <span class="btn-label">
                                                <i class="fas fa-eye"></i>
                                            </span>
                                            Visualizar Avaliação do Projeto
                                        </a>
                                    <?php } ?>
                                </div>
                            </div>
                        </div>
                    <?php endforeach; ?>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron col-lg-6">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading text-center">Status de Codificação por Arquivos</div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Usuário</th>
                        <th>Finalizou</th>
                        <th>Restam</th>
                    </tr>
                </thead>
                <tbody>
                    <? foreach ($this->listaDasAvaliacoesPorTrecho as $avaliacao): ?>

                        <?
                        $idusuario = $avaliacao['idusuario'];
                        $avaliacoes = Application_Model_DbTable_Grupoprojeto::getAvaliacao($idusuario);
                        ?>

                        <? foreach ($avaliacoes as $avalia): ?>
                            <tr>
                                <td><?= $avalia['login'] ?></td>
                                <td><?= $avalia['finalizou'] ?></td>
                                <td><?= $avalia['restam'] ?></td>
                            </tr>
                        <? endforeach; ?>

                    <? endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
    <div class="jumbotron col-lg-12">
        <button class="btn btn-success export" style="float: right;">
            Exportar
        </button>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading text-center">Relatório de Codificação por Códigos</div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="col-lg-3">Códigos Aceitos</th>
                        <th class="col-lg-3">Grupo do Código</th>
                        <th class="col-lg-9">Trecho</th>
                    </tr>
                </thead>
                <tbody>
                    <? foreach ($this->listaDasAvaliacoesPorCodigo as $relatorio): ?>
                        <tr>
                            <td><?= $relatorio['descricao'] ?></td>
                            <td><?= $relatorio['GRUPO'] ?></td>
                            <td>Trecho <?= $relatorio['idtrecho'] ?> - <?= $relatorio['DESCRICAO'] ?></td>
                        </tr>
                    <? endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
</div>