<div class="container">
    <div class="col-lg-2"></div>
    <div class="jumbotron col-lg-8">
        <div class="container">
            <h3 class="text-center">Projetos</h3>

            <div class="panel-heading btn-info" role="tab" id="heading">
                <a href="<?= $this->baseUrl('projeto/cadastrar') ?>" style="text-decoration: none;">
                    <h4 class="panel-title text-center" style="color: white;">
                        Criar novo Projeto
                    </h4>
                </a>
            </div>

            <div class="panel-body" style="height:400px; overflow-y: scroll;">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <?php foreach ($this->listaProjetos as $projeto): ?>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading<?= $projeto['idprojeto'] ?>">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <p style="font-size: 13px" title="<?= $projeto['titulo'] ?>">
                                            <?= substr($projeto['titulo'], 0, 40) ?>
                                        </p>
                                    </div>

                                    <div class="col-lg-7">
                                        <?php if ($projeto['status'] === '0') { ?>
                                            <a style="width: 40px" href="<?= $this->baseUrl('arquivo/continuar/id/' . $projeto['idprojeto']) ?>" class="btn btn-primary btn-labeled" title="Continuar Criação do Projeto">
                                                <span class="btn-label">
                                                    <i class="glyphicon glyphicon-pencil"></i>
                                                </span>
                                            </a>

                                        <?php } else if ($projeto['status'] === '1') { ?>

                                            <?php if ($projeto['categorizar'] === '1') { ?>
                                                <button style="width: 40px" class="btn btn-default btn-labeled" title="Iniciar Codificação">
                                                    <span class="btn-label">
                                                        <i class="glyphicon glyphicon-play"></i>
                                                    </span>
                                                </button>

                                                <a style="width: 40px; background-color: darkgreen; border-color: darkgreen" href="<?= $this->baseUrl('admin/categorizar/id/' . $projeto['idprojeto']) ?>" class="btn btn-info btn-labeled" title="Categorizar Códigos">
                                                    <span class="btn-label">
                                                        <i class="glyphicon glyphicon-paperclip"></i>
                                                    </span>
                                                </a>

                                                <a style="width: 40px; background-color: chocolate; border-color: chocolate" href="#" data-toggle="modal" data-target="#Modal-finalizar-categorizacao<?= $projeto['idprojeto'] ?>" class="btn btn-warning btn-labeled" title="Finalizar Categorização">
                                                    <span class="btn-label">
                                                        <i class="glyphicon glyphicon-thumbs-up"></i>
                                                    </span>
                                                </a>

                                                <a style="width: 40px;" href="<?= $this->baseUrl('projeto/relatorio/id/' . $projeto['idprojeto']) ?>" class="btn btn-default btn-labeled" title="Exportar PDF">
                                                    <span class="btn-label" style="background-color: white; color: red">
                                                        <i class="fas fa-file-pdf"></i>
                                                    </span>
                                                </a>

                                                <a style="width: 40px;" href="<?= $this->baseUrl('projeto/exportar/id/' . $projeto['idprojeto']) ?>" class="btn btn-default btn-labeled" title="Exportar CSV">
                                                    <span class="btn-label" style="width: 40px; background-color: darkblue; color: white">
                                                        <i class="fas fa-code"></i>
                                                    </span>
                                                </a>

                                            <?php } else if ($projeto['categorizar'] === '2') { ?>

                                                <button style="width: 40px" class="btn btn-default btn-labeled" title="Iniciar Codificação">
                                                    <span class="btn-label">
                                                        <i class="glyphicon glyphicon-play"></i>
                                                    </span>
                                                </button>

                                                <a style="width: 40px" href="#" class="btn btn-default btn-labeled" title="Categorizar Códigos">
                                                    <span class="btn-label">
                                                        <i class="glyphicon glyphicon-paperclip"></i>
                                                    </span>
                                                </a>

                                                <button style="width: 40px" class="btn btn-default btn-labeled" title="Finalizar Categorização">
                                                    <span class="btn-label">
                                                        <i class="glyphicon glyphicon-ok"></i>
                                                    </span>
                                                </button>

                                                <a style="width: 40px;" href="<?= $this->baseUrl('projeto/relatorio/id/' . $projeto['idprojeto']) ?>" class="btn btn-default btn-labeled" title="Exportar PDF">
                                                    <span class="btn-label" style="background-color: white; color: red">
                                                        <i class="fas fa-file-pdf"></i>
                                                    </span>
                                                </a>

                                                <a style="width: 40px;" href="<?= $this->baseUrl('projeto/exportar/id/' . $projeto['idprojeto']) ?>" class="btn btn-default btn-labeled" title="Exportar CSV">
                                                    <span class="btn-label" style="width: 40px; background-color: darkblue; color: white">
                                                        <i class="fas fa-code"></i>
                                                    </span>
                                                </a>

                                            <?php } else if ($projeto['start'] === '1') { ?>
                                                <button style="width: 40px" class="btn btn-default btn-labeled" title="Iniciar Codificação">
                                                    <span class="btn-label">
                                                        <i class="glyphicon glyphicon-play"></i>
                                                    </span>
                                                </button>

                                                <a style="width: 40px; background-color: olive; border-color: olive" href="<?= $this->baseUrl('trecho/index/id/' . $projeto['idprojeto']) ?>" class="btn btn-primary btn-labeled" title="Visualizar Codificação">
                                                    <span class="btn-label">
                                                        <i class="glyphicon glyphicon-eye-open"></i>
                                                    </span>
                                                </a>

                                                <a style="width: 40px" href="#" data-toggle="modal" data-target="#Modal-finalizar-codificacao<?= $projeto['idprojeto'] ?>" class="btn btn-warning btn-labeled" title="Finalizar Codificação">
                                                    <span class="btn-label">
                                                        <i class="glyphicon glyphicon-ok"></i>
                                                    </span>
                                                </a>


                                            <?php } else { ?>
                                                <?php if ($projeto['avaliar'] === '0') { ?>
                                                    <button style="width: 40px" onclick="iniciarCodificacao(<?= $projeto['idprojeto'] ?>)" class="btn btn-success btn-labeled" title="Iniciar Codificação">
                                                        <span class="btn-label">
                                                            <i class="glyphicon glyphicon-play"></i>
                                                        </span>
                                                    </button>

                                                    <a style="width: 40px" href="#" class="btn btn-default btn-labeled" title="Visualizar Codificação">
                                                        <span class="btn-label">
                                                            <i class="glyphicon glyphicon-eye-open"></i>
                                                        </span>
                                                    </a>

                                                    <button style="width: 40px" class="btn btn-default btn-labeled" title="Finalizar Codificação">
                                                        <span class="btn-label">
                                                            <i class="glyphicon glyphicon-ok"></i>
                                                        </span>
                                                    </button>

                                                <?php } else { ?>

                                                    <button style="width: 40px" class="btn btn-default btn-labeled" title="Iniciar Codificação">
                                                        <span class="btn-label">
                                                            <i class="glyphicon glyphicon-play"></i>
                                                        </span>
                                                    </button>

                                                    <a style="width: 40px; background-color: blueviolet; border-color: blueviolet" href="<?= $this->baseUrl('trecho/avaliar/id/' . $projeto['idprojeto']) ?>" class="btn btn-primary btn-labeled" title="Avaliar Codificação">
                                                        <span class="btn-label">
                                                            <i class="glyphicon glyphicon-edit"></i>
                                                        </span>
                                                    </a>

                                                    <a style="width: 40px; background-color: black; border-color: black" href="#" data-toggle="modal" data-target="#Modal-finalizar-avaliacao<?= $projeto['idprojeto'] ?>" class="btn btn-warning btn-labeled" title="Finalizar Avaliação">
                                                        <span class="btn-label">
                                                            <i class="glyphicon glyphicon-floppy-saved"></i>
                                                        </span>
                                                    </a>

                                                <?php } ?>
                                            <?php } ?>
                                        <?php } ?>

                                        <a style="width: 40px" href="#" data-toggle="modal" data-target="#Modal-remover<?= $projeto['idprojeto'] ?>" class="btn btn-danger btn-labeled" title="Remover Projeto">
                                            <span class="btn-label">
                                                <i class="glyphicon glyphicon-trash"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    <?php endforeach; ?>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>

<?php foreach ($this->listaProjetos as $projeto) { ?>
    <div class="modal fade" id="Modal-finalizar-codificacao<?= $projeto['idprojeto'] ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Aviso</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Deseja realmente finalizar a codificação do projeto "<?= $projeto['titulo'] ?>"?
                    </p>
                </div>
                <div class="modal-footer">
                    <button onclick="pausarCodificacao(<?= $projeto['idprojeto'] ?>)" class="btn btn-primary">
                        Confirmar
                    </button>
                    <a class="btn btn-default" data-dismiss="modal">
                        Cancelar
                    </a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
<?php } ?>

<?php foreach ($this->listaProjetos as $projeto) { ?>
    <div class="modal fade" id="Modal-finalizar-categorizacao<?= $projeto['idprojeto'] ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Aviso</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Deseja realmente finalizar a categorização do projeto "<?= $projeto['titulo'] ?>"?
                    </p>
                </div>
                <div class="modal-footer">
                    <button onclick="finalizarCategorizacao(<?= $projeto['idprojeto'] ?>)" class="btn btn-primary">
                        Confirmar
                    </button>
                    <a class="btn btn-default" data-dismiss="modal">
                        Cancelar
                    </a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
<?php } ?>

<?php foreach ($this->listaProjetos as $projeto) { ?>
    <div class="modal fade" id="Modal-finalizar-avaliacao<?= $projeto['idprojeto'] ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Aviso</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Deseja realmente finalizar a avaliação do projeto "<?= $projeto['titulo'] ?>"?
                    </p>
                </div>
                <div class="modal-footer">
                    <button onclick="finalizarAvaliacao(<?= $projeto['idprojeto'] ?>)" class="btn btn-primary">
                        Confirmar
                    </button>
                    <a class="btn btn-default" data-dismiss="modal">
                        Cancelar
                    </a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
<?php } ?>

<?php foreach ($this->listaProjetos as $projeto) { ?>
    <div class="modal fade" id="Modal-remover<?= $projeto['idprojeto'] ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Aviso</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Deseja realmente remover o Projeto "<?= $projeto['titulo'] ?>"?
                    </p>
                </div>
                <div class="modal-footer">
                    <button onclick="removerProjeto(<?= $projeto['idprojeto'] ?>)" class="btn btn-primary">
                        Confirmar
                    </button>
                    <a class="btn btn-default" data-dismiss="modal">
                        Cancelar
                    </a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
<?php } ?>