<div class="col-md-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<?= $this->baseUrl('admin-avaliador') ?>">Início</a></li>
            <li class="breadcrumb-item active" aria-current="page">Criar Projeto</li>
        </ol>
    </nav>
    <a class="btn btn-sm btn-primary" href="<?= $this->baseUrl('admin-avaliador') ?>" style="margin-bottom: 5px">Voltar</a>
</div>

<div class="col-md-3"></div>
<section class="col-md-6">
    <div class="jumbotron">
        <div class="container">
            <h4 class="text-center">Criar Projeto</h4>
            <form method="post" id="projetoNew">
                <div class="form-group">
                    <label>Título</label>
                    <input type="text" class="form-control" id="titulo" autocomplete="off" required="true">
                </div>
                <div class="form-group">
                    <label>Descrição</label>
                    <input type="text" class="form-control" id="descricao" autocomplete="off" required="true">
                </div>
                <button type="submit" class="btn btn-primary pull-right">
                    Avançar
                </button>
            </form>
        </div>
    </div>
</section>
<div class="col-md-3"></div>