<div class="col-md-3"></div>
<section class="col-md-6">
    <div class="jumbotron" style="height: 600px; overflow-y: scroll">
        <div class="container">
            <h3 class="text-center">Projetos</h3>
            <div class="panel-body">

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading btn-info" role="tab" id="heading">
                            <h4 class="panel-title">
                                <a style="color: white" data-toggle="collapse" data-parent="#accordion" href="#collapseNovo" aria-expanded="false" aria-controls="collapse" class="collapsed">
                                    <i class="more-less glyphicon glyphicon-chevron-down"></i>
                                    Criar novo Projeto
                                </a>
                            </h4>
                        </div>

                        <div class="panel-collapse collapse" id="collapseNovo" aria-labelledby="heading" role="tabpanel">
                            <div class="panel-body">
                                <form method="post" id="projetoNew">
                                    <div class="form-group">
                                        <label>Título</label>
                                        <input type="text" class="form-control" id="titulo" required="true">
                                    </div>
                                    <div class="form-group">
                                        <label>Descrição</label>
                                        <input type="text" class="form-control" id="descricao" required="true">
                                    </div>
                                    <button type="submit" class="btn btn-success btn-block">
                                        Confirmar
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <?php foreach ($this->listaProjetos as $projeto): ?>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading<?= $projeto['idprojeto'] ?>">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse<?= $projeto['idprojeto'] ?>" aria-expanded="false" aria-controls="collapse" class="collapsed">
                                        <i class="more-less glyphicon glyphicon-chevron-down"></i>
                                        <?= $projeto['titulo'] ?>
                                    </a>
                                </h4>
                            </div>

                            <div class="panel-collapse collapse" id="collapse<?= $projeto['idprojeto'] ?>" aria-labelledby="heading<?= $projeto['idprojeto'] ?>" role="tabpanel">
                                <div class="panel-body">
                                    <p class="well" style="font-size: 14px">
                                        <?= $projeto['descricao'] ?>
                                    </p>

                                    <a href="#" class="btn btn-block btn-default btn-labeled" data-toggle="modal" data-target="#Modal-editar-projeto<?= $projeto['idprojeto'] ?>">
                                        <span class="btn-label">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </span>
                                        Atualizar Projeto
                                    </a>

                                    <a href="<?= $this->baseUrl('admin/index/id/' . $projeto['idprojeto']) ?>" class="btn btn-block btn-primary btn-labeled">
                                        <span class="btn-label">
                                            <i class="fas fa-eye"></i>
                                        </span>
                                        Visualizar Projeto
                                    </a>
                                </div>
                            </div>
                        </div>
                    <?php endforeach; ?>
                </div>
            </div>
        </div>
</section>
<div class="col-md-3"></div>

<?php foreach ($this->listaProjetos as $projeto): ?>
    <div class="modal fade" id="Modal-editar-projeto<?= $projeto['idprojeto'] ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Atualizar Projeto</h4>
                </div>
                <div class="modal-body">
                    <form method="post" id="projetoEdit">
                        <div class="form-group">
                            <label>Título</label>
                            <input type="text" class="form-control" id="titulo<?= $projeto['idprojeto'] ?>" value="<?= $projeto['titulo'] ?>" required="true">
                        </div>
                        <div class="form-group">
                            <label>Descrição</label>
                            <textarea type="text" class="form-control" id="descricao<?= $projeto['idprojeto'] ?>" required="true"><?= $projeto['descricao'] ?></textarea>
                        </div>
                        <a onclick="editarProjeto(<?= $projeto['idprojeto'] ?>)" class="btn btn-success btn-block">
                            Confirmar
                        </a>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
<?php endforeach; ?>