<div class="col-md-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<?= $this->baseUrl('admin-avaliador') ?>">Início</a></li>
            <li class="breadcrumb-item"><a href="<?= $this->baseUrl('trecho/index/id/') ?><?= $this->arquivo[0]['idprojeto'] ?>"><?= $this->arquivo[0]['projeto'] ?></a></li>
            <li class="breadcrumb-item active" aria-current="page"><?= $this->arquivo[0]['titulo'] ?></li>
        </ol>
    </nav>
    <a class="btn btn-sm btn-primary" href="<?= $this->baseUrl('trecho/index/id/') ?><?= $this->arquivo[0]['idprojeto'] ?>" style="margin-bottom: 5px">Voltar</a>
</div>

<div class="col-md-5">
    <?php if(substr($this->arquivo[0]['descricao'], -3) !== 'pdf'){ ?>
    <iframe src="https://view.officeapps.live.com/op/embed.aspx?src=opencodingtool.com.br/public/<?= $this->arquivo[0]['descricao'] ?>" height="400px" width="100%"></iframe>
    <?php } else { ?>
    <iframe src="<?= $this->baseUrl('') ?><?= $this->arquivo[0]['descricao'] ?>" height="400px" width="100%"></iframe>
    <?php } ?>
</div>

<div class="col-md-7">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Códigos
            </div>
            <div class="panel-body" style="height:400px; overflow-y: scroll">
                <? foreach ($this->listaDosCodificadores as $codificador): ?>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <?= $codificador['nome'] ?>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th style="width: 200px">Códigos</th>
                                            <th class="text-center">Validação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php $rowsA = Application_Model_DbTable_Codigo::getCodigosPorCodificador($codificador['idtrecho'], $codificador['idcodificador']); ?>
                                        <? foreach ($rowsA as $codigo): ?>    
                                            <tr>
                                                <td><p><?= $codigo['descricao'] ?></p></td>
                                                <td class="text-center" style="padding: 15px">
                                                    <input type="checkbox" class="form-check-input" onchange="aceitarCodigo(<?= $codigo['idcodigo'] ?>)">
                                                </td>
                                            </tr>
                                        <? endforeach; ?>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                <? endforeach; ?>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Códigos Validados
            </div>
            <div class="panel-body" style="height:400px; overflow-y: scroll">

                <a href="#" data-toggle="modal" data-target="#Modal-cadastrar" class="btn btn-warning btn-block">
                    Cadastrar Código
                </a>

                <div class="panel panel-primary" style="margin-top: 5px">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Códigos</th>
                                        <th class="text-center">Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php @$rows = Application_Model_DbTable_Codigo::getCodigosAceitos($codificador['idtrecho']); ?>
                                    <? if (empty($rows)) { ?>    
                                    <? } else { ?>    
                                        <? foreach ($rows as $codigo) { ?>    
                                            <tr>
                                                <td><p><?= $codigo['descricao'] ?></p></td>
                                                <td class="text-center">
                                                    <?php $rows = Application_Model_DbTable_Grupocodigohascodigo::consultarCodigo($codigo['idcodigo']); ?>
                                                        <a style="width: 40px; border: 1px #a9a9a9 solid" href="#" data-toggle="modal" data-target="#Modal-editar<?= $codigo['idcodigo'] ?>" class="btn btn-default" title="Agrupar Código">
                                                            <i class="glyphicon glyphicon-pencil"></i>
                                                        </a>

                                                    <?php if ($codigo['idperfil'] == '3') { ?>
                                                        <button style="width: 40px" onclick="excluirCodigo(<?= $codigo['idcodigo'] ?>)" class="btn btn-danger btn-labeled" title="Remover Projeto">
                                                            <span class="btn-label">
                                                                <i class="glyphicon glyphicon-trash"></i>
                                                            </span>
                                                        </button>
                                                    <?php } else { ?>
                                                        <button style="width: 40px" onclick="excluirCodigoAvaliador(<?= $codigo['idcodigo'] ?>)" class="btn btn-danger btn-labeled" title="Remover Projeto">
                                                            <span class="btn-label">
                                                                <i class="glyphicon glyphicon-trash"></i>
                                                            </span>
                                                        </button>
                                                    <?php } ?>
                                                </td>
                                            </tr>
                                        <? } ?>
                                    <? } ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<?php @$codigosAceitos = Application_Model_DbTable_Codigo::getCodigosAceitos($codificador['idtrecho']); ?>
<?php if (empty($codigosAceitos)) { ?>
<?php } else { ?>
    <?php foreach ($codigosAceitos as $codigoaceito) { ?>
        <div class="modal fade" id="Modal-editar<?= $codigoaceito['idcodigo'] ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Aviso</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group col-md-12">
                                <label>Código</label>
                                <input type="text" class="form-control" id="descricao<?= $codigo['idcodigo'] ?>" value="<?= $codigoaceito['descricao'] ?>" autocomplete="off" required="true">
                            </div>
                            <div class="form-group col-md-12">
                                <button type="button" class="btn btn-success" onclick="editarCodigo(<?= $codigo['idcodigo'] ?>)">
                                    Confirmar
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-default" data-dismiss="modal">
                            Cancelar
                        </a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    <?php } ?>
<?php } ?>

<?php @$codigosAceitosAvaliador = Application_Model_DbTable_Codigo::getCodigosAceitosPorAvaliador($this->arquivo[0]['idtrecho'], Zend_Auth::getInstance()->getIdentity()->idusuario); ?>
<?php if (empty($codigosAceitosAvaliador)) { ?>
<?php } else { ?>
    <?php foreach ($codigosAceitosAvaliador as $codigoaceitoAvaliador) { ?>
        <div class="modal fade" id="Modal-editar-avaliador<?= $codigoaceitoAvaliador['idcodigo'] ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Aviso</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group col-md-12">
                                <label>Código</label>
                                <input type="text" class="form-control" id="descricao<?= $codigoaceitoAvaliador['idcodigo'] ?>" value="<?= $codigoaceitoAvaliador['descricao'] ?>" autocomplete="off" required="true">
                            </div>
                            <div class="form-group col-md-12">
                                <button type="button" class="btn btn-success" onclick="editarCodigo(<?= $codigoaceitoAvaliador['idcodigo'] ?>)">
                                    Confirmar
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-default" data-dismiss="modal">
                            Cancelar
                        </a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    <?php } ?>
<?php } ?>

<?php @$rowsc = Application_Model_DbTable_Codigo::getCodigosAceitos($codificador['idtrecho']); ?>
<?php if (empty($codigosAceitosAvaliador)) { ?>
<?php } else { ?>
    <? foreach ($rowsc as $codigos) { ?>
        <div class="modal fade" id="Modal-agrupar<?= $codigos['idcodigo'] ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Agrupar Código</h4>
                    </div>
                    <div class="modal-body">
                        <form method="post" id="agruparNew" enctype="multipart/form-data">
                            <div class="form-group col-md-12">
                                <label>Código</label>
                                <input type="hidden" id="idcodigo<?= $codigos['idcodigo'] ?>" value="<?= $codigos['idcodigo'] ?>">
                                <input type="text" disabled="true" id="descricao<?= $codigos['idcodigo'] ?>" class="form-control" value="<?= $codigos['descricao'] ?>">
                            </div>
                            <div class="form-group col-md-12">
                                <label><strong>Grupo do Código</strong><strong style="color: red">*</strong></label>
                                <select class="form-control form-control-sm" name="idgrupocodigo<?= $codigos['idcodigo'] ?>" required="true">
                                    <option value="">--Selecione o Grupo--</option>
                                    <? foreach ($this->listaGrupos as $grupo): ?>
                                        <option value="<?= $grupo['idgrupocodigo'] ?>"><?= $grupo['descricao'] ?></option>
                                    <? endforeach; ?>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <button type="button" class="btn btn-success" onclick="agruparCodigo(<?= $codigos['idcodigo'] ?>)">
                                    Confirmar
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-default" data-dismiss="modal">
                            Cancelar
                        </a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    <?php } ?>
<?php } ?>

<div class="modal fade" id="Modal-cadastrar" tabindex="-1" role="dialog" aria-labelledby="Modal-cadastrarLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Cadastro de Código</h4>
            </div>
            <div class="modal-body">
                <form method="post" id="codigoNew" enctype="multipart/form-data">
                    <div class="form-group col-md-12">
                        <label>Código<strong style="color: red">*</strong></label>
                        <input type="hidden" name="idtrecho" value="<?= $this->arquivo[0]['idtrecho'] ?>">
                        <input type="text" class="form-control" name="descricao" autocomplete="off" required="true">
                    </div>
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-success">
                            Confirmar
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" data-dismiss="modal">
                    Cancelar
                </a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="Modal-cadastrar-grupo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Cadastro de Grupo de Códigos</h4>
            </div>
            <div class="modal-body">
                <form method="post" id="grupoNew" enctype="multipart/form-data">
                    <div class="form-group col-md-12">
                        <label>Grupo<strong style="color: red">*</strong></label>
                        <input type="hidden" name="idtrecho" value="<?= $this->arquivo[0]['idtrecho'] ?>">
                        <input type="text" class="form-control" name="grupo" autocomplete="off" required="true">
                    </div>
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-success">
                            Confirmar
                        </button>
                    </div>
                </form>

                <table class="table table-bordered" style="height: 200px;">
                    <thead>
                        <tr>
                            <th>Grupos</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody style="overflow-y: scroll">
                        <? foreach ($this->listaDosGruposCodigos as $grupocodigo): ?>
                            <tr>
                                <td><?= $grupocodigo['descricao'] ?></td>
                                <td>         
                                    <button href="<?= '#Modal-editar-grupo' . $grupocodigo['idgrupocodigo'] ?>" title="Visualizar" class="btn btn-primary" data-toggle="modal">
                                        <span>
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </span>
                                    </button>
                                </td>
                            </tr>
                        <? endforeach; ?>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" data-dismiss="modal">
                    Cancelar
                </a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<? foreach ($this->listaDosGruposCodigos as $grupo) { ?>
    <div class="modal fade" id="Modal-editar-grupo<?= $grupo['idgrupocodigo'] ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Editar Grupo</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group col-md-12">
                            <label>Grupo</label>
                            <input type="hidden" name="id" value="<?= $grupo['idgrupocodigo'] ?>">
                            <input type="text" class="form-control" id="grupoeditar<?= $grupo['idgrupocodigo'] ?>" value="<?= $grupo['descricao'] ?>" autocomplete="off" required="true">
                        </div>
                        <div class="form-group col-md-12">
                            <button type="button" class="btn btn-success" onclick="editarGrupo(<?= $grupo['idgrupocodigo'] ?>)">
                                Confirmar
                            </button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">
                        Cancelar
                    </a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
<?php } ?>