<div class="col-md-12" style="margin-top: 10px">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<?= $this->baseUrl('admin-avaliador') ?>">Início</a></li>
            <li class="breadcrumb-item"><?= $this->projeto['titulo'] ?></a></li>
        </ol>
    </nav>
    <a class="btn btn-sm btn-primary" href="<?= $this->baseUrl('admin-avaliador') ?>" style="margin-bottom: 5px">Voltar</a>
</div>

<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a style="margin-bottom: 15px" href="#" data-toggle="modal" data-target="#Modal-cadastrar-grupo" class="btn btn-primary btn-block">
                            Cadastrar Categoria
                        </a>
                    </h5>

                    <h6><strong>Códigos</strong></h6>

                    <div id="example2-left" class="list-group col" style="overflow-y: scroll; height: 350px; background-color: white; width: 100%">
                        <? foreach ($this->listaDosCodigosPorGrupo as $codigo) { ?>
                            <div id="<?= $codigo['idcodigo'] ?>" style="cursor: pointer" class="list-group-item grupo1"><?= $codigo['descricao'] ?></div>
                        <? } ?>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div style="height: 450px; overflow-x: scroll; border: 1px solid rgba(0, 0, 0, 0.125)">

                <?php $value = 300; ?>
                <?php $result = $value * intval($this->quantidade) ?>
                <div class="row" style="display: flex; width: <?= $result ?>px">

                    <? foreach ($this->listaDosGruposCodigos as $grupocodigo) { ?>
                        <div style="padding-top: 10px; padding-left: 25px; padding-right: 15px; width: 300px">

                            <div class="card">
                                <div class="card-body">
                                    <div class="panel panel-default">
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <h6 class="card-title" title="<?= $grupocodigo['descricao'] ?>" style="padding-left: 10px">
                                                    <? if (strlen($grupocodigo['descricao']) > 20) { ?>
                                                        <?= substr($grupocodigo['descricao'], 0, 20) ?>...
                                                    <? } else { ?>
                                                        <?= $grupocodigo['descricao'] ?>
                                                    <? } ?>

                                                </h6>
                                            </div>

                                            <div class="col-lg-5">
                                                <button href="<?= '#Modal-editar-grupo' . $grupocodigo['idgrupocodigo'] ?>" title="Atualizar Categoria" class="btn btn-sm btn-primary" data-toggle="modal">
                                                    <span>
                                                        <i class="glyphicon glyphicon-pencil"></i>
                                                    </span>
                                                </button>
                                                <button href="<?= '#Modal-excluir-categoria' . $grupocodigo['idgrupocodigo'] ?>" title="Remover Categoria" class="btn btn-sm btn-danger" data-toggle="modal">
                                                    <span>
                                                        <i class="glyphicon glyphicon-trash"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="example<?= $grupocodigo['idgrupocodigo'] ?>-right" itemscope="<?= $grupocodigo['idgrupocodigo'] ?>" class="list-group col" style="overflow-y: scroll; height: 315px; width: 100%">
                                        <?php $codigosPorGrupo = Application_Model_DbTable_Codigo::getCodigoPorIdGrupo($grupocodigo['idgrupocodigo']); ?>
                                        <?php foreach ($codigosPorGrupo as $codigoPG) { ?>
                                            <div id="<?= $codigoPG['idcodigo'] ?>" class="list-group-item grupo2" style="cursor: pointer"><?= $codigoPG['descricao'] ?></div>
                                        <? } ?>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <script>
                            example<?= $grupocodigo['idgrupocodigo'] ?>Right = document.getElementById('example<?= $grupocodigo['idgrupocodigo'] ?>-right'),
                                    new Sortable(example<?= $grupocodigo['idgrupocodigo'] ?>Right, {
                                        group: 'shared',
                                        animation: 150,
                                        onStart: function () {

                                        },
                                        onEnd: function (evt) {
                                            //                                            alert(evt.item.id);
                                            //                                            alert(document.getElementById(evt.to.id).getAttribute('itemscope'));

                                            var idcodigo = evt.item.id;
//                                            var idgrupo = document.getElementById(evt.to.id).getAttribute('itemscope');

                                            if (idcodigo != '') {
                                                desagrupar(idcodigo);
                                            }
                                        }
                                    });

                            new Sortable(example<?= $grupocodigo['idgrupocodigo'] ?>Right, {
                                group: 'shared',
                                animation: 150,
                                onStart: function () {

                                },
                                onEnd: function () {
                                }
                            });
                        </script>
                    <? } ?>

                    <script>
                        example2Left = document.getElementById('example2-left')

                        new Sortable(example2Left, {
                            group: 'shared', // set both lists to same group
                            animation: 150,
                            onStart: function () {

                            },
                            onEnd: function (evt) {
//                                alert(evt.item.id);
//                                alert(document.getElementById(evt.to.id).getAttribute('itemscope'));

                                var idcodigo = evt.item.id;
                                var idgrupo = document.getElementById(evt.to.id).getAttribute('itemscope');

                                if (idcodigo != '') {
                                    agrupar(idcodigo, idgrupo);
                                }

                            }
                        });

//                        alert('opa');
//
                        function agrupar(idcodigo, idgrupo) {
                            $.ajax({
                                type: "POST",
                                url: baseUrl + 'grupocodigohascodigo/cadastrar',
                                async: false,
                                data: {idcodigo: idcodigo, idgrupo: idgrupo
                                },
                                success: function (data) {
                                    if (data.flag == 'ok') {
                                        location.reload();
                                    }
                                },
                                error: function () {
//                                    alert("error");
                                }
                            });
                        }
                        
                        function desagrupar(idcodigo) {
                            $.ajax({
                                type: "POST",
                                url: baseUrl + 'admin/desagrupar-codigo',
                                async: false,
                                data: {idcodigo: idcodigo
                                },
                                success: function (data) {
                                    if (data.flag == 'ok') {
                                        location.reload();
                                    }
                                },
                                error: function () {
//                                    alert("error");
                                }
                            });
                        }

                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Modal-cadastrar-grupo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Cadastro de Categoria de Código</h4>
            </div>
            <div class="modal-body">
                <form method="post" id="grupoNew" enctype="multipart/form-data">
                    <div class="form-group col-md-12">
                        <label>Categoria<strong style="color: red">*</strong></label>
                        <input type="hidden" name="idprojeto" value="<?= $this->projeto['idprojeto'] ?>">
                        <input type="text" class="form-control" name="grupo" autocomplete="off" required="true">
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">
                            Confirmar
                        </button>
                        <a class="btn btn-default" data-dismiss="modal">
                            Cancelar
                        </a>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<? foreach ($this->listaDosGruposCodigos as $grupo) { ?>
    <div class="modal fade" id="Modal-editar-grupo<?= $grupo['idgrupocodigo'] ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Editar Grupo</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group col-md-12">
                            <label>Grupo</label>
                            <input type="hidden" name="id" value="<?= $grupo['idgrupocodigo'] ?>">
                            <input type="text" class="form-control" id="grupoeditar<?= $grupo['idgrupocodigo'] ?>" value="<?= $grupo['descricao'] ?>" autocomplete="off" required="true">
                        </div>
                        <div class="form-group col-md-12">
                            <button type="button" class="btn btn-success" onclick="editarGrupo(<?= $grupo['idgrupocodigo'] ?>)">
                                Confirmar
                            </button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">
                        Cancelar
                    </a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
<?php } ?>

<? foreach ($this->listaDosGruposCodigos as $grupo) { ?>
    <div class="modal fade" id="Modal-excluir-categoria<?= $grupo['idgrupocodigo'] ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Excluir Categoria</h4>
                </div>
                <div class="modal-body">
                    <h4>Deseja realmente excluir esta categoria?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="excluirCategoria(<?= $grupo['idgrupocodigo'] ?>)">
                        Excluir
                    </button>
                    <a class="btn btn-default" data-dismiss="modal">
                        Cancelar
                    </a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
<?php } ?>