<style>
    .card.dragging{
        opacity: 0.4;
    }
    
    body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: orange;        /* color of the tracking area */
}
</style>



<div class="col-md-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<?= $this->baseUrl('admin-avaliador') ?>">Início</a></li>
            <li class="breadcrumb-item"><?= $this->projeto['titulo'] ?></a></li>
        </ol>
    </nav>
    <a class="btn btn-sm btn-primary" href="<?= $this->baseUrl('admin-avaliador') ?>" style="margin-bottom: 5px">Voltar</a>
</div>

<div class="col-md-12">
    <div class="container">
        <div class="col-lg-3" style="padding-top: 10px">
            <div class="draggingContainer">
                <div id="codigos" style="">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Códigos
                        </div>
                        <div class="panel-body" style="height:400px; overflow-y: scroll;">
                            <!--<div class="panel-body" style="height:400px;">-->
                            <a style="margin-bottom: 5px; margin-bottom: 15px" href="#" data-toggle="modal" data-target="#Modal-cadastrar-grupo" class="btn btn-info btn-block">
                                Cadastrar Grupo
                            </a>

                            <div style="position: absolute; width: 206px">
                                <? foreach ($this->listaDosCodigosPorGrupo as $codigo): ?>
                                    <div class="thumbnail" id="<?= $codigo['idcodigo'] ?>" style="cursor: pointer;">
                                        <div class="caption">
                                            <?= $codigo['descricao'] ?>
                                        </div>
                                    </div>
                                <? endforeach; ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9" style="border: 1px #dddddd solid; overflow-x: scroll; height: 540px;">
            <div class="container">

                <?php $value = 400; ?>
                <?php $result = $value * intval($this->quantidade) ?>
                <div class="row" style="display: flex; width: <?= $result ?>px">

                    <? foreach ($this->listaDosGruposCodigos as $grupocodigo) { ?>
                        <div style="padding-top: 10px; padding-left: 15px; padding-right: 15px; width: 585px">
                            <!--<div class="col-lg-3" style="padding-top: 10px">-->
                            <div id="grupo<?= $grupocodigo['idgrupocodigo'] ?>" itemid="<?= $grupocodigo['idgrupocodigo'] ?>" style="padding: 10px">
                                <div class="panel panel-primary" style="background-color: transparent; width: 300px">
                                    <div class="panel-heading">
                                        <?= $grupocodigo['descricao'] ?>
                                    </div>
                                    <div class="panel-body" style="height: 400px; overflow-y: scroll; width: 100%">
                                        <div style="position: absolute; width: 255px">

                                            <?php $codigosPorGrupo = Application_Model_DbTable_Codigo::getCodigoPorIdGrupo($grupocodigo['idgrupocodigo']); ?>
                                            <?php foreach ($codigosPorGrupo as $codigoPG) { ?>
                                                <div class="thumbnail" id="<?= $codigoPG['idcodigo'] ?>" style="cursor: pointer;">
                                                    <div class="caption">
                                                        <?= $codigoPG['descricao'] ?>
                                                    </div>
                                                </div>
                                            <? } ?>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script>
                                $("#grupo<?= $grupocodigo['idgrupocodigo'] ?>").droppable({
                                    drop: function (event, ui) {
                                        var idcodigo = $(ui.draggable[0]).attr('id');
                                        var idgrupo = $("#grupo<?= $grupocodigo['idgrupocodigo'] ?>").attr('itemid');

                                        agrupar(idcodigo, idgrupo);
                                    },
                                    out: function (event, ui) {
                                    },
                                    over: function (event, ui) {
                                    }});
                        </script>

                    <? } ?>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Modal-cadastrar-grupo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Cadastro de Grupo de Códigos</h4>
            </div>
            <div class="modal-body">
                <form method="post" id="grupoNew" enctype="multipart/form-data">
                    <div class="form-group col-md-12">
                        <label>Grupo<strong style="color: red">*</strong></label>
                        <input type="hidden" name="idprojeto" value="<?= $this->projeto['idprojeto'] ?>">
                        <input type="text" class="form-control" name="grupo" autocomplete="off" required="true">
                    </div>
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-success">
                            Confirmar
                        </button>
                    </div>
                </form>

                <table class="table table-bordered" style="height: 200px;">
                    <thead>
                        <tr>
                            <th>Grupos</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody style="overflow-y: scroll">
                        <? foreach ($this->listaDosGruposCodigos as $grupocodigo): ?>
                            <tr>
                                <td><?= $grupocodigo['descricao'] ?></td>
                                <td>         
                                    <button href="<?= '#Modal-editar-grupo' . $grupocodigo['idgrupocodigo'] ?>" title="Visualizar" class="btn btn-primary" data-toggle="modal">
                                        <span>
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </span>
                                    </button>
                                </td>
                            </tr>
                        <? endforeach; ?>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" data-dismiss="modal">
                    Cancelar
                </a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<? foreach ($this->listaDosGruposCodigos as $grupo) { ?>
    <div class="modal fade" id="Modal-editar-grupo<?= $grupo['idgrupocodigo'] ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Editar Grupo</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group col-md-12">
                            <label>Grupo</label>
                            <input type="hidden" name="id" value="<?= $grupo['idgrupocodigo'] ?>">
                            <input type="text" class="form-control" id="grupoeditar<?= $grupo['idgrupocodigo'] ?>" value="<?= $grupo['descricao'] ?>" autocomplete="off" required="true">
                        </div>
                        <div class="form-group col-md-12">
                            <button type="button" class="btn btn-success" onclick="editarGrupo(<?= $grupo['idgrupocodigo'] ?>)">
                                Confirmar
                            </button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">
                        Cancelar
                    </a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
<?php } ?>