<div class="col-md-6">
    <iframe src="<?= $this->baseUrl('') ?><?= $this->arquivo[0]['descricao'] ?>" height="600px" width="100%"></iframe>
</div>

<div class="col-md-6">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Códigos
            </div>
            <div class="panel-body" style="height:600px; overflow-y: scroll">
                <? foreach ($this->listaDosCodificadores as $codificador): ?>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <?= $codificador['nome'] ?>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Códigos</th>
                                            <th class="text-center">Validação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php $rows = Application_Model_DbTable_Codigo::getCodigosPorCodificador($codificador['idtrecho'], $codificador['idcodificador']); ?>
                                        <? foreach ($rows as $codigo): ?>    
                                            <tr>
                                                <td><p><?= $codigo['descricao'] ?></p></td>
                                                <td class="text-center" style="padding: 15px">
                                                    <input type="checkbox" class="form-check-input" onchange="aceitarCodigo(<?= $codigo['idcodigo'] ?>)">
                                                </td>
                                            </tr>
                                        <? endforeach; ?>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                <? endforeach; ?>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Resultados
            </div>
            <div class="panel-body" style="height:600px; overflow-y: scroll">

                <a href="#" data-toggle="modal" data-target="#Modal-cadastrar" class="btn btn-warning btn-block">
                    Cadastrar Código
                </a>

                <div class="panel panel-primary" style="margin-top: 5px">
                    <div class="panel-heading">
                        <?= Zend_Auth::getInstance()->getIdentity()->login ?>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Códigos</th>
                                        <th class="text-center">Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php $rows = Application_Model_DbTable_Codigo::getCodigosAceitosPorAvaliador($this->arquivo[0]['idtrecho'], Zend_Auth::getInstance()->getIdentity()->idusuario); ?>
                                    <? foreach ($rows as $codigo): ?>    
                                        <tr>
                                            <td><p><?= $codigo['descricao'] ?></p></td>
                                            <td class="text-center">
                                                <a style="width: 40px" href="#" data-toggle="modal" data-target="#Modal-editar-avaliador<?= $codigo['idcodigo'] ?>" class="btn btn-primary btn-labeled" title="Continuar Criação do Projeto">
                                                    <span class="btn-label">
                                                        <i class="glyphicon glyphicon-pencil"></i>
                                                    </span>
                                                </a>
                                                <button style="width: 40px" onclick="excluirCodigo(<?= $codigo['idcodigo'] ?>)" class="btn btn-danger btn-labeled" title="Remover Projeto">
                                                    <span class="btn-label">
                                                        <i class="glyphicon glyphicon-trash"></i>
                                                    </span>
                                                </button>
                                            </td>
                                        </tr>
                                    <? endforeach; ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <? foreach ($this->listaDosCodificadores as $codificador): ?>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <?= $codificador['nome'] ?>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Códigos</th>
                                            <th class="text-center">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php $rows = Application_Model_DbTable_Codigo::getCodigosAceitosPorCodificador($codificador['idtrecho'], $codificador['idcodificador']); ?>
                                        <? foreach ($rows as $codigo): ?>    
                                            <tr>
                                                <td><p><?= $codigo['descricao'] ?></p></td>
                                                <td class="text-center">
                                                    <a style="width: 40px" href="#" data-toggle="modal" data-target="#Modal-editar<?= $codigo['idcodigo'] ?>" class="btn btn-primary btn-labeled" title="Continuar Criação do Projeto">
                                                        <span class="btn-label">
                                                            <i class="glyphicon glyphicon-pencil"></i>
                                                        </span>
                                                    </a>
                                                    <button style="width: 40px" onclick="excluirCodigo(<?= $codigo['idcodigo'] ?>)" class="btn btn-danger btn-labeled" title="Remover Projeto">
                                                        <span class="btn-label">
                                                            <i class="glyphicon glyphicon-trash"></i>
                                                        </span>
                                                    </button>
                                                </td>
                                            </tr>
                                        <? endforeach; ?>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                <? endforeach; ?>
            </div>
        </div>
    </div>
</div>
<?php $codigosAceitos = Application_Model_DbTable_Codigo::getCodigosAceitosPorCodificador($codificador['idtrecho'], $codificador['idcodificador']); ?>
<?php foreach ($codigosAceitos as $codigoaceito) { ?>
    <div class="modal fade" id="Modal-editar<?= $codigoaceito['idcodigo'] ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Aviso</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group col-md-12">
                            <label>Código</label>
                            <input type="text" class="form-control" id="descricao<?= $codigo['idcodigo'] ?>" value="<?= $codigoaceito['descricao'] ?>" autocomplete="off" required="true">
                        </div>
                        <div class="form-group col-md-12">
                            <button type="button" class="btn btn-success" onclick="editarCodigo(<?= $codigo['idcodigo'] ?>)">
                                Confirmar
                            </button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">
                        Cancelar
                    </a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
<?php } ?>


<?php $codigosAceitosAvaliador = Application_Model_DbTable_Codigo::getCodigosAceitosPorAvaliador($this->arquivo[0]['idtrecho'], Zend_Auth::getInstance()->getIdentity()->idusuario); ?>
<?php foreach ($codigosAceitosAvaliador as $codigoaceitoAvaliador) { ?>
    <div class="modal fade" id="Modal-editar-avaliador<?= $codigoaceitoAvaliador['idcodigo'] ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Aviso</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group col-md-12">
                            <label>Código</label>
                            <input type="text" class="form-control" id="descricao<?= $codigoaceitoAvaliador['idcodigo'] ?>" value="<?= $codigoaceitoAvaliador['descricao'] ?>" autocomplete="off" required="true">
                        </div>
                        <div class="form-group col-md-12">
                            <button type="button" class="btn btn-success" onclick="editarCodigo(<?= $codigoaceitoAvaliador['idcodigo'] ?>)">
                                Confirmar
                            </button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">
                        Cancelar
                    </a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
<?php } ?>

<div class="modal fade" id="Modal-cadastrar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Cadastro de Código</h4>
            </div>
            <div class="modal-body">
                <form method="post" id="codigoNew" enctype="multipart/form-data">
                    <div class="form-group col-md-12">
                        <label>Código<strong style="color: red">*</strong></label>
                        <input type="hidden" name="idtrecho" value="<?= $this->arquivo[0]['idtrecho'] ?>">
                        <input type="text" class="form-control" name="descricao" autocomplete="off" required="true">
                    </div>
                    <div class="form-group col-md-12">
                        <label><strong>Grupo do Código</strong><strong style="color: red">*</strong></label>
                        <select class="form-control form-control-sm" name="idgrupocodigo" required="true">
                            <option value="">--Selecione o Grupo--</option>
                            <? foreach ($this->listaGrupos as $grupo): ?>
                                <option value="<?= $grupo['idgrupocodigo'] ?>"><?= $grupo['descricao'] ?></option>
                            <? endforeach; ?>
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-success">
                            Confirmar
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" data-dismiss="modal">
                    Cancelar
                </a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->