<div class="col-md-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<?= $this->baseUrl('admin-avaliador') ?>">Início</a></li>
            <li class="breadcrumb-item"><a href="<?= $this->baseUrl('trecho/index/id/') ?><?= $this->arquivo[0]['idprojeto'] ?>"><?= $this->arquivo[0]['projeto'] ?></a></li>
            <li class="breadcrumb-item active" aria-current="page"><?= $this->arquivo[0]['titulo'] ?></li>
        </ol>
    </nav>
    <a class="btn btn-sm btn-primary" href="<?= $this->baseUrl('trecho/index/id/') ?><?= $this->arquivo[0]['idprojeto'] ?>" style="margin-bottom: 5px">Voltar</a>
</div>

<section class="container">
    <div class="col-md-7">
        <?php if (substr($this->arquivo[0]['descricao'], -3) !== 'pdf') { ?>
            <iframe src="https://view.officeapps.live.com/op/embed.aspx?src=opencodingtool.com.br/public/<?= $this->arquivo[0]['descricao'] ?>" height="450px" width="100%"></iframe>
        <?php } else { ?>
            <iframe src="<?= $this->baseUrl('') ?><?= $this->arquivo[0]['descricao'] ?>" height="450px" width="100%"></iframe>
        <?php } ?>
    </div>

    <div class="col-md-5">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Códigos
                </div>
                <div class="panel-body" style="height:420px; overflow-y: scroll">
                    <? foreach ($this->listaDosCodificadores as $codificador): ?>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <?= $codificador['nome'] ?>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th style="width: 200px">Códigos</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <?php $rowsA = Application_Model_DbTable_Codigo::getCodigosPorCodificador($codificador['idtrecho'], $codificador['idcodificador']); ?>
                                            <? foreach ($rowsA as $codigo): ?>    
                                                <tr>
                                                    <td><p title="<?= $codigo['descricao'] ?>"><?= substr($codigo['descricao'], 0, 40) ?></p></td>
                                                </tr>
                                            <? endforeach; ?>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    <? endforeach; ?>
                </div>
            </div>
        </div>
    </div>
</section>