<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Trechos
        </div>
        <div class="panel-body">
            <div class="trecho">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <? $cont = 0; ?>
                    <? foreach ($this->listaDosTrechosPorGrupo as $trecho): ?>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading<?= $trecho['idtrecho'] ?>">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse<?= $trecho['idtrecho'] ?>" aria-expanded="false" aria-controls="collapse<?= $trecho['idtrecho'] ?>" class="collapsed" >
                                        <i class="more-less glyphicon glyphicon-chevron-down"></i>  

                                        <?
                                        $idgrupoprojeto = $trecho['idgrupoprojeto'];
                                        $idtrecho = $trecho['idtrecho'];

                                        $codigos = Application_Model_DbTable_Grupoprojeto::getGrupoTrecho($idgrupoprojeto, $idtrecho);
                                        ?>

                                        <? foreach ($codigos as $codigo): ?>
                                            <? if ($codigo['result'] == 'true') { ?>
                                                <i class="fa fa-code" style="color:black;"></i>
                                            <? } ?>
                                            <? if ($codigo['result'] == 'false') { ?>
                                                <!--<i class="glyphicon glyphicon-ok" style="color:green;"></i>-->
                                            <? } ?>
                                        <? endforeach; ?>
                                                

                                        Trecho <?= $trecho['titulo'] ?> 

                                    </a>
                                </h4>
                            </div>
                            <div id="collapse<?= $trecho['idtrecho'] ?>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<?= $trecho['idtrecho'] ?>" style="height: 0px;">
                                <div class="panel-body">
                                    <div class="well">
                                        <?= $trecho['DESCRICAO'] ?>
                                    </div>
                                    <hr>

                                    <a class="btn btn-info btn-block btn-labeled" href="<?= $this->baseUrl('admin/listarcodigos/id/' . $trecho['idgrupoprojeto'] . ',' . $trecho['idtrecho']) ?>" >
                                        <span class="btn-label">
                                            <i class="fas fa-eye"></i>
                                        </span>
                                        Visualizar Códigos
                                    </a>
                                </div>
                            </div>
                        </div>
                        <? $cont++; ?>
                    <? endforeach; ?>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Códigos
        </div>
        <div class="panel-body">

        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Resultados
        </div>
        <div class="panel-body">

        </div>
    </div>
</div>