<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Trechos
        </div>
        <div class="panel-body">
            <div class="trecho">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <? foreach ($this->listaDosTrechosPorGrupo as $trecho): ?>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading<?= $trecho['idtrecho'] ?>">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse<?= $trecho['idtrecho'] ?>" aria-expanded="false" aria-controls="collapse<?= $trecho['idtrecho'] ?>" class="collapsed">
                                        <i class="more-less glyphicon glyphicon-chevron-down"></i>   

                                        <?
//                                        $idusuario = $trecho['idusuario'];
                                        $idgrupo = $trecho['idgrupoprojeto'];
                                        $idtrecho = $trecho['idtrecho'];

                                        $codigos = Application_Model_DbTable_Grupoprojeto::getGrupoTrecho($idgrupo, $idtrecho);

//                                        include 'C:\xampp\htdocs\legacysystemreport\application\models\DbTable\permissao.php';
//                                        include '/../../../models/DbTable/permissao.php';
//
//                                        $stmt = $adapter->query("SELECT DISTINCT trecho.titulo, trecho.descricao as DESCRICAO,"
//                                                . " trecho.idtrecho, grupo.idgrupo, avaliacao.status,"
//                                                . " IF(avaliacao.status > 0,'true','false') as result FROM avaliacao, trecho, grupo WHERE"
//                                                . " trecho.idtrecho = avaliacao.idtrecho AND"
//                                                . " trecho.idgrupo = grupo.idgrupo AND"
//                                                . " grupo.idgrupo = avaliacao.idgrupo AND"
//                                                . " avaliacao.idtrecho = '$idtrecho' AND"
//                                                . " avaliacao.idgrupo = '$idgrupo'");
//
//                                        $codigos = $stmt->fetchAll();
//                                                var_dump($codigos);die();
                                        ?>

                                        <? foreach ($codigos as $codigo): ?>

                                            <? if ($codigo['result'] === 'true') { ?>
                                                <i class="fa fa-code" style="color:black;"></i>
                                            <? } else if ($codigo['result'] === 'false') { ?>
                                                <!--<i class="glyphicon glyphicon-ok" style="color:green;"></i>-->
                                            <? } ?>
                                        <? endforeach; ?>

                                        Trecho <?= $trecho['titulo'] ?>

                                    </a>
                                </h4>
                            </div>
                            <div id="collapse<?= $trecho['idtrecho'] ?>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<?= $trecho['idtrecho'] ?>" style="height: 0px;">
                                <div class="panel-body">
                                    <div class="well">
                                        <?= $trecho['DESCRICAO'] ?>
                                    </div>
                                    <hr>

                                    <a class="btn btn-info btn-block btn-labeled" href="<?= $this->baseUrl('admin/listarcodigos/id/' . $trecho['idgrupoprojeto'] . ',' . $trecho['idtrecho']) ?>">
                                        <span class="btn-label">
                                            <i class="fas fa-eye"></i>
                                        </span>
                                        Visualizar Códigos
                                    </a>
                                </div>
                            </div>
                        </div>
                    <? endforeach; ?>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Códigos
        </div>
        <div class="panel-body">
            <!--<div class="panel-body panel-admin">-->

            <div class="panel panel-default">
                <!--<div class="panel panel-default ul-admin">-->

                <div class="panel-body">
                    <ul class="ul-admin list-group">
                        <? foreach ($this->listaDosUsuariosPorGrupo as $codigoGrupo): ?>
                            <li class="li-admin">
                                <!--<li class="li-admin">-->
                                <div class="col-md-12" style="display: table-cell;">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <?= $codigoGrupo['login'] ?>
                                        </div>
                                        <div class="panel-body">
                                            <ul class="list-group">
                                                <!--<ul class="list-group list-group-flush">-->
                                                <?
//                                                var_dump($codigoGrupo);die();
                                                $idusuario = $codigoGrupo['idusuario'];
                                                $idtrecho = $codigoGrupo['idtrecho'];

                                                $codigos = Application_Model_DbTable_Grupoprojeto::getListarTrechoUsuario($idusuario, $idtrecho);

//                                                include 'C:\xampp\htdocs\legacysystemreport\application\models\DbTable\permissao.php';
//                                                include '/../../../models/DbTable/permissao.php';
//                                                $stmt = $adapter->query("SELECT codigo.descricao, codigo.idcodigo, codigo.status, codigo.idtrecho, trecho.idgrupo, codigo.idusuario FROM codigo, usuario, trecho WHERE "
//                                                        . "codigo.idtrecho = trecho.idtrecho AND "
//                                                        . "codigo.idusuario = usuario.idusuario AND "
//                                                        . "codigo.idtrecho = '$idtrecho' AND "
//                                                        . "codigo.status = '1' AND "
//                                                        . "codigo.idusuario = '$idusuario' ");
//
//                                                $codigos = $stmt->fetchAll();
//                                                var_dump($rows);die();
                                                ?>
                                                <? foreach ($codigos as $codigo): ?>
                                                    <li class="list-group-item">
                                                        <label class="checkbox">
                                                            <input type="checkbox" />
                                                            <input type="hidden" class="ids" itemid="<?= $codigo['idusuario'] ?>" itemprop="<?= $codigo['idgrupoprojeto'] ?>" itemscope="<?= $codigo['idgrupoprojeto'] ?>" itemtype="<?= $codigo['idcodigo'] ?>" value="<?= $codigo['status'] ?>">
                                                            <span class="default" onclick="aceitarCodigo(<?= $codigo['idcodigo'] ?>, <?= $codigo['status'] ?>)"></span>
                                                        </label>
                                                        <?= $codigo['descricao'] ?>
                                                    </li>
                                                <? endforeach; ?>                                    
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        <? endforeach; ?>
                    </ul>
                </div>
                <div class="panel-footer">
                    <? foreach ($this->exibirTrecho as $trech): ?>
                        <strong><?= $trech['Grupo'] ?></strong>
                        Trecho <?= $trech['titulo'] ?> - <?= $trech['descricao'] ?>
                    <? endforeach; ?>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Resultados
        </div>
        <div class="panel-body">
            <div class="trecho">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <? foreach ($this->exibirTrecho as $trech): ?>
                            <strong><?= $trech['Grupo'] ?></strong>
                            Trecho <?= $trech['titulo'] ?> - <?= $trech['descricao'] ?>
                            <input id="idtrecho" type="hidden" value="<?= $trech['idtrecho'] ?>">
                        <? endforeach; ?>
                    </div>
                    <div class="panel-body">

                        <ul class="list-group list-group-flush">
                            <? foreach ($this->listaDosCodigosAceitos as $codigoAceito): ?>
                                <li class="list-group-item-buttons">
                                    <div>
                                        <?= $codigoAceito['descricao'] ?>
                                    </div>
                                    <span class="buttons">
                                        <button href="<?= '#myModalEditar' . $codigoAceito['idcodigo'] ?>" title="Editar" class="btn btn-primary" data-toggle="modal">
                                            <span>
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </span>
                                        </button>
                                        <a onclick="excluirCodigo(<?= $codigoAceito['idcodigo'] ?>)" title="Deletar" class="btn btn-danger" style="cursor: pointer;">
                                            <span>
                                                <i class="fas fa-trash"></i>
                                            </span>
                                        </a>
                                    </span>
                                </li>
                            <? endforeach; ?>
                        </ul>

                        <a href="#myModaCriarCodigo" class="btn btn-block btn-warning btn-labeled"  data-toggle="modal">
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-edit"></i>
                            </span>
                            Criar Código
                        </a>

                        <? if ($this->statusTrecho === '0') { ?>

                            <button class="btn btn-block btn-success btn-labeled finalizar-codificacao" data-toggle="modal">
                                <span class="btn-label">
                                    <i class="glyphicon glyphicon-ok"></i>
                                </span>
                                Finalizar
                            </button>

                        <? } else { ?>

                        <? } ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModaCriarCodigo" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Criar Código</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="codigo">
                            Código
                        </label>
                        <input type="text" id="descricao" class="form-control" autocomplete="off">
                    </div>
                    <? foreach ($this->exibirTrecho as $trec): ?>
                        <button type="button" onclick="salvarCodigo(<?= $trec['idtrecho'] ?>)" class="btn btn-block btn-warning">
                            Salvar Código
                        </button>
                    <? endforeach; ?>
                </form>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                <button type="button" class="btn" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Trechos -->
<? foreach ($this->listaDosCodigosAceitos as $codigoAceitoModal): ?>
    <div class="modal fade" id="<?= 'myModalEditar' . $codigoAceitoModal['idcodigo'] ?>" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Visualizar Código</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="codigo">
                                Código
                            </label>
                            <input id="descricao<?= $codigoAceitoModal['idcodigo'] ?>" type="text" class="form-control" value="<?= $codigoAceitoModal['descricao'] ?>" autocomplete="off">
                            <p>Área destinada para atualização do código desejado dos resultados!</p>
                        </div>
                        <button type="button" onclick="editarCodigo(<?= $codigoAceitoModal['idcodigo'] ?>)" class="btn btn-block btn-primary">
                            Atualizar
                        </button>
                    </form>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                    <button type="button" class="btn" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
<? endforeach; ?>



<script>
    function load(id) {
        $('#collapse' + id).collapse();
    }
</script>