<div class="col-md-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<?= $this->baseUrl('') ?>">Início</a></li>
            <li class="breadcrumb-item active" aria-current="page">Criar Conta</li>
        </ol>
    </nav>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form id="criarContaNew" method="post" enctype="multipart/form-data">
                <h4>Criar Conta</h4>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" id="login" autocomplete="false" required="true">
                </div>
                <div class="form-group">
                    <label>Senha</label>
                    <input type="password" class="form-control" id="senha" autocomplete="false" required="true">
                </div>
                <div class="form-group">
                    <label>Confirmar Senha</label>
                    <input type="password" class="form-control" id="confirmar-senha" autocomplete="false" required="true">
                </div>
                <a style="border: 1px black solid" class="btn btn-default" href="<?=$this->baseUrl('')?>">Voltar</a>
                <button type="submit" class="btn btn-primary">Confirmar</button>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>